html {
	height: 100%;
	background: #fff;
	border-top: 7px solid $color;
}


body {
	color: $copy-color;
	font: 15px/1.7 Helvetica Neue, sans-serif;
}




// Headlines
h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	margin-top: 20px;

	h1 + & {
		margin-top: 0;
	}
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;

	h1 + & {
		margin-top: 0;
	}
}

h1, h2, h3 {
	font-weight: normal;
}


// Links
a {
	color: $copy-color;
	text-decoration: underline;

	&:visited {
		color: $copy-color;
	}

	&:hover {
		color: $color;
		text-decoration: none;
	}
}




// Paragraph
p {
	margin: 0;

	p + & {
		margin-top: 1em;
	}

	h2 + & {
		margin-top: 0;
	}
}

// Lists
ul {
	padding-left: 1.1em;
}


// Button
.button {
	@extend %tag;

	font-size: 1.3em;

	&:hover {
		color: #fff;
	}
}


// Navigation
.site-navigation {
	max-width: 45em;
	margin: 0 auto;
	line-height: 2;

	ul {
		margin: 2em 0 0;
		padding: 0 2em;
		text-align: center;
	}

	li {
		display: inline;
	}

	a {
		@extend %tag;

		padding: 10px 20px;
		margin-left: 7px;

		&:hover {
			background-color: $color;
			color: #fff;
		}

		&.visuallyhidden {
			padding: 0;
		}
	}


	.site-logo {
		padding: 0;
		text-align: center;

		a {
			background: $color;
			width: 2em;
			height: 2em;
			padding: 10px;

			background: url(../img/logo.svg);
			background-size: contain;

			text-indent: -100px;
			overflow: hidden;

			.no-svg & {
				background-image: url(../img/logo.png);
			}
		}
	}


	.navigation-target,
	.navigation-toggle {
		display: none;
	}

}

// Header
.site-claim {
	margin: 0.3em 0 0;
	font-size: 5em;
	font-weight: normal;

	span {
		font-size: 0.3em;
	}
}



.main {
	max-width: 45em;
	margin: 0 auto;
	padding: 0 2em;
}




// Main Content




// Headlines
h2 {
	border-bottom: 1px solid #111;
	margin: .5em 0;
	font-size: 2em;
	font-weight: normal;

	a {
		text-decoration: none;
	}
}

h3 {
	font-size: 1.2em;
	margin: 1em 0 .5em;

	a {
		text-decoration: none;
	}
}


// About me
.desc {
	font-size: 1.2em;
	line-height: 2em;
	margin-bottom: 2em;
}



.content {
	margin: 2em -1.5% 0;
	overflow: hidden;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding-top: 30px;
		word-wrap: break-word;
	}

}


.hire-me {
	margin: 3em 0;
}


// Extending overlays
.imprint,
.contact {
	@extend %modal-fade;

	h2 {
		border-bottom: none;
	}
}



// Footer
.site-footer {
	max-width: 45em;
	margin: 0 auto;
	padding: 50px 2em 20px;

	text-align: center;

	p {
		font-family: Georgia, Times New Roman, serif;
		font-style: italic;
	}

	.follow-me {
		border-top: 1px solid #111;
		padding: 50px 0;
		text-align: center;
	}

}


.work {
	@extend %clearfix;

	margin: 0 -10px;

	> * {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.work-project {
	@include x-box-sizing;

	float: left;
	display: inline;
	width: 33.333%;
	padding: 10px;
	margin: 0;

	> img {
		display: block;
		max-width: 100%;
		height: auto;
		background: #f9f9f9;
		border: 1px solid #ddd;
		border-radius: 2px;
		box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
	}

	> figcaption {
		padding: 10px 5px 0;
	}
}


// Resume
.resume-header {
	> h1 {
		margin: 1em 0 0;
		line-height: 1.2;
	}
}





