html {
	background: #fff;
}

body {
	-webkit-overflow-scrolling: touch;
}

// Header
.site-claim {
	@include x-rem(max-width, 60);
	@include x-rem(padding, 2);

	margin: 0 auto;
	text-align: center;

	h1 {
		margin: 0.3em 0;
		font-weight: normal;
	}

	span {
		font-family: 'Playfair Display SC', serif;
		font-style: italic;
		font-size: 1.2em;
		padding: 0 0.1em;
	}

	p {
		font-size: 1.2em;
	}

	.le-me {
		margin-top: 4em;
	}
}

// About me
.desc {
	@include x-rem(max-width, 45);

	line-height: 1.7em;
	margin: 6em auto 0;
}



.main {
	@include x-rem(max-width, 80);
	@include x-rem(padding, 3 2);

	margin: 0 auto;
}

.main--resume {
	@include x-rem(max-width, 45);
}


.content {
	margin: 2em -1.5% 0;
	overflow: hidden;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding-top: 30px;
		word-wrap: break-word;
	}

}


.hire-me {
	@include x-rem(max-width, 45);

	margin: 3em auto;
}


// Extending overlays
.imprint,
.contact {
	@extend %modal--transition-fade;

	h2 {
		border-bottom: none;
	}
}


// Resume
.resume-header {
	> h1 {
		margin: 1em 0 0;
		line-height: 1.2;
	}
}
