html {
	background: #fff;
}

body {
	-webkit-overflow-scrolling: touch;
}

// About me
.claim {
	@include x-rem(max-width, 60);
	@include x-rem(padding, 0 2);

	margin: 0 auto;
	text-align: center;
}

.claim__desc {
	@include x-rem(max-width, 45);

	line-height: 1.7em;
	margin: 0 auto;
}

.claim__me {
	@include x-rem(height, 13);
	@include x-rem(margin, 3 0);

	border-radius: 50%;
}



.main {
	@include x-rem(max-width, 80);
	@include x-rem(padding, 3 2);

	margin: 0 auto;
}

.main--resume {
	@include x-rem(max-width, 45);
}


.content {
	margin: 2em -1.5% 0;
	overflow: hidden;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding-top: 30px;
		word-wrap: break-word;
	}

}


.hire-me {
	@include x-rem(max-width, 45);

	margin: 3em auto;
}


// Extending overlays
.imprint,
.contact {
	@extend %modal--transition-fade;

	h2 {
		border-bottom: none;
	}
}


// Resume
.resume-header {
	> h1 {
		margin: 1em 0 0;
		line-height: 1.2;
	}
}
