/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
	}

	html {
		border-top: 0;
	}

	body {
		font-size: 13px;
	}

	.site-header,
	.site-footer {
		display: none;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	// Don't show links for images, or javascript/internal links
	a[href^="#"]:after,
	a[href^="mailto:"]:after {
		content: "";
	}

	@page {
		margin: 1.2cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
