// Under 1024px, enable better scroll feeling
@media screen and (max-width: 68em) {
	body {
		-webkit-overflow-scrolling: touch;
	}
}

// Under ~560px
@media screen and (max-width: 38em) {
	.site-navigation {
		> ul {
			display: none;

			position: absolute;
			top: 3.2em;
			right: 0;

			min-width: 60%;
			max-width: 100%;

			margin: 0;
			padding: 0;
			background: #111;
			border-radius: 2px;
			box-shadow: 0 0 30px rgba(0,0,0,.3);
		}

		li {
			display: block;

			> a {
				display: block;
				margin-left: 0;
				background: none;
			}
		}

		.site-logo a {
			width: auto;
			background-repeat: no-repeat;
			background-color: $color;
			background-position: center center;
			text-indent: -999px;
			border-radius: 2px;
		}

		> .navigation-toggle {
			display: block;

			position: absolute;
			top: 7px;
			right: 0;

			width: 32px;
			height: 32px;

			border-radius: 0 0 0 2px;
			background: $color url(../img/navigation.svg) no-repeat 50% 50%;
			padding: 4px 4px 4px 5px;
			text-indent: -200px;
			overflow: hidden;
		}
	}

	.navigation-target {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;

		&:target {
			display: block;

			~ ul {
				display: block;
			}
		}
	}

	.site-claim {
		padding-top: 3rem;
	}

	.desc {
		margin-top: 2rem;
	}

	.main {
		padding-top: 3rem;
	}

	.work-project {
		width: 100%;
		padding: 10px;

		> img {
			float: left;
			max-width: 45%;
			margin-right: 1em
		}

		> figcaption {
			padding: 0;
		}
	}
}

// Under 480px
@media screen and (max-width: 32em) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	.site-claim .desc p {
		font-size: 1em;
	}

	.site-footer {
		padding: 2em 2em 1em;

		.follow-me {
			padding: 2em 0;
		}
	}
}

// Under 360px
@media screen and (max-width: 24em) {
	.main,
	.site-footer {
		padding: 0 1em 1em;
	}

	.work-project img {
		margin-left: -0.5em;
	}
}
