@mixin socials ($width) {
	width: $width;
	height: $width;
	background-size: $width;
}

@media screen and (max-width: 950px) {
	.social a {
		@include socials(45px);
	}
}

@media screen and (max-width: 900px) {

	.social a {
		@include socials(42px);
	}
}

@media screen and (max-width: 850px) {
	.header {
		font-size: 4.5em
	}

	.social a {
		@include socials(40px);
	}
}

@media screen and (max-width: 800px) {
	.header {
		font-size: 4em
	}

	.desc {
		font-size: 1em;
		line-height: 1.8em;
	}

	.social a {
		@include socials(38px);
	}

	.to-blog {
		padding: 3em 0 1em;

		a:after {
			top: 4px;
		}
	}

	.button {
		font-size: 1.1em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.1em;
	}

	.modal.in {
		top: 50px;
	}
}

@media screen and (max-width: 750px) {
	.header {
		font-size: 3.5em
	}

	.social a {
		@include socials(36px);
	}
}

@media screen and (max-width: 685px) {
	.desc {
		width: 70%;
	}

	.social {
		width: 25%;
		margin-top: .5em;

		a {
			margin-bottom: 7px;
		}
	}

	.row {
		width: 100%;
	}


	.modal {
		width: 100%;
		height: auto;
		left: 0;
		bottom: 0;
		margin-left: 0;
		border-radius: 0;

		&.in {
			top: 0;
		}
	}
}






