<div class="ad">
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9996605008164606" data-ad-slot="4589784221" data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<footer class="footer" data-fx-fade>
  <p>Made with love. {{year}}. Cologne, Germany.
    <a href="{{baseUrl}}/#imprint" title="Who does this stuff?">Legal/Impressum</a> &bull;
    <a href="{{baseUrl}}/privacy" title="Privacy Protection Page">Privacy</a>
  </p>

  <ul class="social">
    <li class="social__link social__link--github">
      <a href="https://github.com/drublic" title="GitHub/drublic">GitHub</a>
    </li>
    <li class="social__link social__link--twitter">
      <a href="https://twitter.com/drublic" title="Twitter: @drublic">Twitter</a>
    </li>
    <li class="social__link social__link--google">
      <a href="https://plus.google.com/112019818423540363330?rel=author" title="Google+">Google+</a>
    </li>
  </ul>

  <a href="#" class="visuallyhidden">go back up to top</a>
</footer>

<button class="layout__scroll-top is-hidden" data-scroll-top>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon">
    <path d="M8 11h3v10h2V11h3l-4-4-4 4zM4 3v2h16V3H4z" />
  </svg>
</button>
