<header class="header">

  <div class="header__inner">
    {{> navigation}}

    <a href="{{baseUrl}}/" role="banner" class="header__title">
      <h1 class="header__title__line">Hans Christian Reinl</h1>
    </a>


    <p>Software Architecture and Development &ndash; @drublic</p>
  </div>

</header>
