<header class="header">
  <div class="header__inner">
    <a href="{{baseUrl}}/" class="header__logo" role="banner">@drublic</a>

    <h1 class="header__title">Development and Architecture</h1>
    <p>Hans Christian Reinl &ndash; @drublic</p>
  </div>

  {{> navigation}}

</header>
