
<!-- Open Source -->
<section class="container oss" id="oss" data-fx-fade>
  <h2>Articles</h2>

  <h3>From The Blog</h3>

  <ul class="posts__list posts__list--no-divider posts__list--no-top">
    {{#each (slice posts 0 5)}}
      {{> article-teaser--small
        title=this.title
        url=this.url
        date=this.date
      }}
    {{/each}}
  </ul>

  <p class="text--centered text--padded">
    <a href="{{baseUrl}}/blog/" class="button">
      Read more on my Blog
    </a>
  </p>

  <h3>Working Draft Podcast</h3>

  <ul class="posts__list posts__list--no-divider posts__list--no-top">
    {{#each wdPosts}}
      {{> article-teaser--small
        title=this.title
        url=this.url
        date=this.date
      }}
    {{/each}}
  </ul>

  <p class="text--centered text--padded">
    <a href="https://workingdraft.de/" class="button">
      More Episodes from Workding Draft
    </a>
  </p>

  <h3>On other websites</h3>

  <ul class="posts__list posts__list--no-divider posts__list--no-top">
    {{> article-teaser--small
      title="CSS Naming Conventions: Less Rules, more Fun on Medium.com"
      url="https://medium.com/@drublic/css-naming-conventions-less-rules-more-fun-12af220e949b"
      date="June 19th, 2014"
    }}

    {{> article-teaser--small
      title="A counter statement: Putting the CSS in the head on Medium.com"
      url="https://medium.com/programming-ideas-tutorial-and-experience/f98103d09ce1"
      date="February 03rd, 2014"
    }}

    {{> article-teaser--small
      title="Shared Grunt Configuration for The Nitty Gritty"
      url="https://thenittygritty.co/shared-grunt-configuration"
      date="December 09th, 2013"
    }}
  </ul>
</section>
