.breadcrumb ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb a {
  border-bottom: 0;
}

.breadcrumb li::after {
  content: ">";
  color: var(--color-light);
  padding: 0 0.5rem;
}

.breadcrumb li:last-child:after {
  display: none;
}
