/**
 * Button
 *
 * @define button
 */
.button {
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border: none;
  color: var(--text-color);
  transition: 0.15s;
  font-size: 1.125rem;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.25rem;
  background-image: linear-gradient(
    161.81deg,
    var(--secondary-color--hover) 25%,
    var(--secondary-color) 75%
  );
  background-color: var(--secondary-color);
  transition: 0.15s;
  border-radius: 2px;
}

.button:visited {
  color: var(--text-color);
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  height: 3.5rem;
}

.button--primary {
  margin-top: 1em;
  margin-bottom: 1em;
  background: var(--secondary-color);
  color: var(--text-color);
  font-weight: bold;
}

.button--primary:visited {
  color: var(--text-color);
}

.button--primary:hover {
  background: var(--secondary-color--hover);
}

.button--margin-right {
  margin-right: 1rem;
}
