/**
 * Button
 *
 * @define button
 */
.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border: none;
  color: var(--text-color);
  transition: 0.15s;
  font-size: 1.125rem;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.125rem;
  background-image: linear-gradient(
    161.81deg,
    var(--secondary-color--hover) 25%,
    var(--secondary-color) 75%
  );
  background-color: var(--secondary-color);
  transition: 0.15s;
  border-radius: 2px;
}

.button:visited {
  color: var(--text-color);
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  height: 3.5rem;
}

.button--outline {
  font-weight: normal;
  color: var(--secondary-color);
}

.button--outline:visited {
  color: var(--secondary-color);
}

.button--outline::before {
  top: 0;
  height: 100%;
}

.button--outline::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  background: var(--color-lightest);
  top: 0.125rem;
  left: 0.125rem;
  right: 0.125rem;
  bottom: 0.125rem;
  transition: 0.25s;
}

.button--outline:hover {
  color: var(--text-color);
}

.button--outline:hover::before {
  height: 100%;
}

.button--outline:hover::after {
  top: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
}

.button--margin-right {
  margin-right: 1rem;
}
