/**
 * Button
 *
 * @define button
 */
.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  line-height: 2;
  text-decoration: none;
  border: none;
  background: var(--color);
  color: #fff;
  font-size: 1em;
  border-radius: 2px;
  transition: 0.15s;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
              0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.button:visited {
  color: #fff;
}

.button:hover {
  background: var(--color-dark);
  color: #fff;
}

.button--primary {
  margin-top: 1em;
  margin-bottom: 1em;
  background: var(--secondary-color);
  color: var(--text-color);
  font-weight: bold;
}

.button--primary:visited {
  color: var(--text-color);
}

.button--primary:hover {
  background: var(--secondary-color--hover);
}

.button--margin-right {
  margin-right: 1rem;
}