/**
 * About me
 */
.claim {
  text-align: center;
}

.claim__desc {
  line-height: 1.5em;
  font-size: 1.25rem;
}

@media (min-width: 32em) {
  .claim__desc {
    line-height: 1.7em;
    font-size: 1.5rem;
  }
}

.claim-container {
  display: flex;
}

.claim__me {
  float: left;
  width: 15rem;
  height: 15rem;
  margin-top: 1rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.claim__me img {
  display: block;
  border-radius: 50%;
}
