/**
 * About me
 */
.claim {
  text-align: center;
}

.claim__desc {
  line-height: 1.5em;
  font-size: 1.25rem;
}

.claim__me {
  position: relative;
  float: right;
  width: 7.5rem;
  height: 7.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.claim__me::after {
  content: "";
  position: absolute;
  top: -0.15rem;
  left: -0.15rem;
  right: -0.15rem;
  bottom: -0.15rem;
  background-image: linear-gradient(
    161.81deg,
    var(--secondary-color--hover) 25%,
    var(--secondary-color) 75%
  );
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.claim__me img {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: calc(100% - 0.7rem);
  height: calc(100% - 0.7rem);
  border: 0.35rem solid #fff;
}

@media (min-width: 32em) {
  .claim-container {
    display: flex;
  }

  .claim__desc {
    line-height: 1.7em;
    font-size: 1.5rem;
  }

  .claim__me {
    float: right;
    width: 12rem;
    height: 12rem;
    margin-left: 0;
    margin-right: 3rem;
  }
}
