.posts__post {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

/* .posts__post::after {
  content: "";
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 0.25rem;
  background-image: linear-gradient(
    161.81deg,
    var(--secondary-color--hover) 25%,
    var(--secondary-color) 75%
  );
  background-color: var(--secondary-color);
  border-radius: 2px;
} */

.posts__post__header {
  margin-bottom: 3rem;
}

.posts__post__header h2 {
  margin-top: 0;
}

.posts__post__header a {
  display: block;
}

.posts__post__header a:hover {
  border-bottom-color: transparent;
}

.posts__list {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-top: 4rem;
  border-top: 1px solid var(--border-color);
}

.posts__list--no-top {
  margin-top: 0;
}

.posts__list--item {
  display: block;
  border-bottom-color: var(--border-color);
  padding-bottom: 1rem;
}

.posts__list--item::after {
  content: "";
  display: table;
  clear: both;
}

.posts__list--bound {
  margin-top: 1rem;
}

.posts__list::after {
  content: "⚡️";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4rem;
  font-family: serif;
  text-align: center;
}

.posts__list--no-divider::after {
  display: none;
}

.posts__list a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.posts__list a:hover {
  border-bottom-color: var(--border-color);
}

.posts__teaser-title {
  flex: 1 0 30%;
  margin-right: 1rem;
}

.posts__date {
  color: var(--color-light);
  font-size: 0.9rem;
  padding-top: 2px;
}

.posts__post__readmore {
  margin-top: 1rem;
}

.posts__description {
  display: block;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/**
 * Code
 */
.gist {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/**
 * Crosslinks
 */
.post__crosslinks {
  margin-top: 3rem;
}

/**
 * Print style sheets
 */
@media print {
  .post__crosslinks,
  .post__navigation {
    display: none;
  }
}
