/**
 * Footer
 */
.footer {
  padding: 4rem 2rem 3rem;
  text-align: center;
  background-color: var(--footer-background-dark);
}

.footer__inner {
  max-width: var(--width);
  margin: 0 auto;
}

.footer_lists {
  display: flex;
  margin-bottom: 4rem;
  gap: 4rem;
}

.footer_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_list a,
.footer_list a:visited {
  border-bottom: 0;
}

.footer_links {
  background-color: var(--footer-background);
}

@media (max-width: 48em) {
  .footer {
    padding: 2rem 0 0;
  }

  .footer_lists {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1rem;
  }

  .footer_list {
    margin-top: 1rem;
  }

  .footer__inner {
    padding-bottom: 2rem;
  }
}

@media (max-width: 24em) {
  .footer {
    padding: 1em;
  }
}
