/**
 * Footer
 */
.footer {
  box-sizing: border-box;
  margin: 2rem auto 0;
  padding: 4rem 2rem 3rem;
  max-width: calc(var(--width) + 12rem);

  text-align: center;

  background-color: var(--color--background--light);
}

@media screen and (max-width: 48em) {
  .footer {
    margin: 2rem;
    padding: 2rem 0 0;
  }
}

@media screen and (max-width: 24em) {
  .footer {
    padding: 1em;
  }
}
