.header__inner {
  max-width: var(--width);
  margin: 0 auto;
  padding: 2rem 1rem 0;
  text-align: center;
}

.header__spacer {
  flex: 1;
}

.header__title {
  display: block;
  border: 0;
  padding: 1.25rem 0 1rem;
}

.header__title__line {
  display: inline;
  line-height: 1;
  color: var(--text-color);
  font-size: 1.5rem;
}

@media (min-width: 48em) {
  .header__inner {
    display: flex;
    padding: 3rem 1rem;
  }

  .header__title {
    padding-top: 0;
  }

  .header__title__line {
    font-size: 3rem;
  }
}

.header p {
  font-size: 1.2em;
}

.header--no-navigation .header__inner {
  padding: 1rem;
  max-width: calc(100% - 2rem);
}

.header--no-navigation .header__title {
  padding: 1rem 1rem 0.75rem;
}

.header--no-navigation .header__title__line {
  font-size: 1.5rem;
}
