/**
 * General layouting
 */
html {
  background: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
}

hr {
  border-top: 0.25rem solid var(--border-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/**
 * Main section
 */
.container {
  max-width: var(--width);
  padding: 2rem 0;
  margin: 0 auto;
}

.main--portfolio {
  max-width: 80rem;
}

.section__cta {
  margin-top: 3rem;
  text-align: center;
}

.section__caption {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.section--fullsize {
  position: relative;
  background-size: cover;
  background-position: center center;
  max-width: 85rem;
}

@media (min-width: 32em) {
  .container {
    padding: 2rem;
  }

  .section--fullsize {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 87em) {
  .section--fullsize {
    margin-left: auto;
    margin-right: auto;
  }
}

.section--ratio {
  overflow: hidden;
}

.section--ratio::after {
  content: "";
  float: left;
  padding-top: 56.75%;
  width: 0;
}

@media (min-width: 32em) {
  .section--ratio::after {
    padding-top: 37.5%;
  }
}

/**
 * Text styles
 */

.text--centered {
  text-align: center;
}

.text--small {
  font-size: 0.8rem;
}

.text--padded {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 35em) {
  .claim {
    text-align: center;
  }

  .claim__me {
    display: none;
  }
}

.main {
  padding: 0 1em 1em;
}

/**
 * Overlays
 */
.imprint h2,
.contact h2 {
  border-bottom: none;
}

/**
 * Resume
 */
.resume-header {
  overflow: hidden;
}

.resume-header > h2 {
  line-height: 1.2;
  margin-bottom: 0.25rem;
  border-bottom: 0;
}

.resume-header > address {
  font-style: normal;
}

/**
 * Print styles
 */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
  }

  html {
    border-top: 0;
  }

  body {
    font-size: 13px;
  }

  .header {
    padding: 0;
  }

  .navigation,
  .footer {
    display: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  a[href^="#"]:after,
  a[href^="mailto:"]:after {
    content: "";
  }

  @page {
    margin: 1.2cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/**
 * Scroller
 */
.layout__scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border: 0;
  background: none;
  opacity: 1;
  transition: 0.4s;
}

.layout__scroll-top.is-hidden {
  opacity: 0;
}

@media screen and (max-width: 34em) {
  .layout__scroll-top {
    display: none;
  }
}

/* Cookue Message */
.cookieconsent-com---nb.cookieconsent-com---palette-light .cc-nb-title {
  font-size: 2.7rem;
  font-weight: normal;
}

.cookieconsent-com---palette-light .cc-nb-main-container {
  font: 16px Roboto Slab, serif;
  color: var(--copy-color);
}

.cookieconsent-com---palette-light .cc-nb-main-container .cc-nb-okagree,
.cookieconsent-com---palette-light .cc-nb-main-container .cc-nb-reject,
.cookieconsent-com---palette-light .cc-nb-main-container .cc-nb-changep {
  padding: 0.5rem 2.5rem;
  line-height: 2;
  font-size: 1em;
  border-radius: 2rem;
  transition: 0.15s;
  font-weight: normal;
}

.cookieconsent-com---palette-light .cc-nb-main-container .cc-nb-okagree {
  background-image: linear-gradient(
    161.81deg,
    var(--secondary-color--hover) 25%,
    var(--secondary-color) 75%
  );
  background-color: var(--secondary-color);
  color: #fff;
}

.cookieconsent-com---palette-light .cc-nb-main-container .cc-nb-reject {
  background-color: var(--color-light);
  color: #fff;
}

.cookieconsent-com---nb.cookieconsent-com---nb-headline .cc-nb-main-container {
  padding: 1rem;
  max-width: var(--width);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 34em) {
  .cookieconsent-com---nb.cookieconsent-com---nb-headline
    .cc-nb-main-container {
    padding: 3rem 0;
  }
}
