/**
 * About me
 */
.claim {
  background: #fff;
  padding-top: 4rem;
}

.claim__desc {
  line-height: 1.7em;
}

.claim__me {
  float: left;
  height: 13rem;
  margin-top: 1rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}
