/**
 * About me
 */
.claim {
  background: #fff;
  text-align: center;
}

.claim__desc {
  line-height: 1.7em;
  font-size: 1.5rem;
}

.claim__me {
  float: left;
  width: 13rem;
  height: 13rem;
  margin-top: 1rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}
