.image img,
.image iframe {
  max-width: 100%;
}

.image--block {
  margin: 1rem -4rem 1.5rem;
}

.image--right {
  float: right;
  max-width: 50%;
  margin: 1rem -4rem 1.5rem 2rem;
}

.image--left {
  float: left;
  max-width: 50%;
  margin: 1rem 2rem 1.5rem -4rem;
}

.image--large,
.image--large {
  max-width: 66.66%;
}

.image__caption {
  border-bottom: 1px solid var(--border-color);
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  color: var(--copy-color-light);
  font-style: italic;
}

.image--block .image__caption {
  padding-left: 4rem;
  padding-right: 4rem;
}

.image__caption--no-border {
  border-bottom: 0;
}

.image__caption__copywrite {
  display: block;
  text-align: right;
  color: var(--copy-light);
}

.image__caption__copywrite::before {
  content: '\00a9\a0';
}

.image--has-frame {
  box-shadow: 0 0 0 1px var(--border-color);
  padding-bottom: 1px;
}


@media screen and (max-width: 64em) {
  .image--block {
    margin-left: 0;
    margin-right: 0;
  }

  .image--left {
    margin-left: -1rem;
  }

  .image--right {
    margin-right: -1rem;
  }
}

@media screen and (max-width: 32em) {
  .image--left,
  .image--right {
    float: none;
    max-width: none;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .image--left img,
  .image--right img {
    max-width: 100%;
    height: auto;
  }
}
