/**
 * Messages
 */
.message {
  background: #ffd600;
}

.message__content {
  margin: 0 auto;
  max-width: var(--width);
  padding: 1.5rem 2rem;
}

.message__divider {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media print {
  .message {
    display: none;
  }
}
