.post {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2rem;
}

.post__intro {
  font-size: 1.25em;
  margin-bottom: 2rem;
}

.post__header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 5rem;
}

.post__header h1 {
  margin-bottom: 0;
}

.post__header a {
  text-decoration: none;
}

.post__header__date {
  float: right;
  margin-top: 1rem;
}

.post__navigation {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.post__footer {
  margin-top: 2rem;
  font-style: italic;
}

.twitter-tweet {
  margin: 1rem auto !important;
}
