.posts__post {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.posts__post::after {
  content: '\2693';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2rem;
  font-family: serif;
  text-align: center;
  color: var(--color);
  opacity: 0.3;
}

.posts__post__header {
  margin-bottom: 3rem;
}

.posts__post__header a {
  display: block;
}

.posts__post__header a:hover {
  border-bottom-color: transparent;
}

.posts__list {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-top: 4rem;
  border-top: 1px solid var(--border-color);
}

.posts__list--item {
  display: block;
  border-bottom-color: var(--border-color);
  padding-bottom: 1rem;
}

.posts__list--item::after {
  content: '';
  display: table;
  clear: both;
}

.posts__list--bound {
  margin-top: 1rem;
}

.posts__list:after {
  content: '\2693';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4rem;
  font-family: serif;
  text-align: center;
  color: var(--color);
  opacity: 0.3;
}

.posts__list--no-divider:after {
  display: none;
}

.posts__list a {
  display: block;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.posts__list a:hover {
  border-bottom-color: var(--border-color);
}

.posts__date {
  float: right;
  color: var(--copy-light);
  font-size: 0.9rem;
  padding-top: 2px;
}

.posts__post__readmore {
  margin-top: 1rem;
}

/**
 * Code
 */
.gist {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/**
 * Crosslinks
 */
.post__crosslinks {
  margin-top: 3rem;
}

/**
 * Print style sheets
 */
@media print {
  .post__crosslinks,
  .post__navigation {
    display: none;
  }
}
