/**
 * Social Media Links
 *
 * @define social
 */
.social {
  list-style: none;
  margin: 1.3em 0 0;
  padding-left: 0;
  text-align: center;
  overflow: hidden;
}

.social li {
  display: inline;
}

.social__link > a {
  position: relative;
  display: inline-block;

  width: 32px;
  height: 32px;

  margin-right: 7px;

  text-indent: -200px;
  overflow: hidden;
  background: url(/img/github.svg);
  background-size: 32px 32px;
  border-bottom: 0;
}

.social__link--twitter > a {
  background-image: url(/img/twitter.svg);
}

.social__link--linkedin > a {
  background-image: url(/img/linkedin.svg);
}

.social__link--github > a {
  background-color: transparent;
  border-bottom: 0;
}
