/**
 * Work
 */
.work:before,
.work:after {
  content: "";
  display: table;
}

.work:after {
  clear: both;
}

.work__more {
  clear: both;
  padding-top: 2em;
  text-align: center;
}

.work__projects {
  overflow: hidden;
}

.work--project {
  box-sizing: border-box;

  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  width: calc(100% / 3 - 1rem);
  margin: 0.5rem;
}

.work--project img {
  width: 100%;
}
.work--project a {
  display: block;
  border-bottom: 0;
}

.work--project p {
  padding: 1em 0;
  line-height: 1.5;
}

.work--project h3 {
  margin: 1em 0;
  text-transform: uppercase;
  word-spacing: -0.15em;
  line-height: 1;
  font-weight: 300;

  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.9);
}

.work--project h3 span {
  font-weight: 800;
}

.work__clients {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  margin-left: -5rem;
  margin-right: -5rem;
  padding: 0;
  text-align: center;
}

.work__clients__title {
  clear: both;
  padding: 2em 0 0.5em;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.work__clients__client {
  display: flex;
  align-items: center;
  max-width: 9rem;
  margin: 0.75rem;
}

.work__clients__client--large {
  max-width: 12rem;
}

.work__clients a {
  display: block;
  border-bottom: 0;
}

.work__clients img {
  width: 100%;
}

.work__element {
  margin-top: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2rem;
  overflow: hidden;
}

.work__element:last-child {
  border-bottom: 0;
}

.work__element__image {
  float: left;
  width: 33%;
  border-bottom: 0;
  text-align: center;
}

.work__element__image img {
  max-width: 100%;
}

.work__element__content {
  margin-left: 33%;
  padding-left: 2rem;
}

.work__element__date {
  color: var(--copy-light);
  font-style: italic;
  font-size: 0.9rem;
}

.work__element h3 {
  margin-top: 0;
}

.work__for {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@media (max-width: 64rem) {
  .work__clients {
    margin-left: -1%;
    margin-right: -1%;
  }
}

@media screen and (max-width: 32em) {
  .work--project {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .work__element > a {
    float: none;
    display: block;
    width: 100%;
    margin-right: 0;
  }
}
