<div id="main" class="main" role="main">
  <h1>Information page</h1>

  <p>Here is some information about me in case you need it. Let me know if anything essential is missing.</p>

  <h2>Biography</h2>
  <p><strong>Very short:</strong> Front-end developer, contributor to the <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>.</p>
  <p><strong>Long:</strong> Hans Christian Reinl is a Front-End Developer contributing to the <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a> as a member of the core development team and other Open Source projects. He is co-host of the weekly web-news podcast <a href="http://workingdraft.de/">Working Draft</a> and co-maintaines the web-technology blog <a href="http://thenittygritty.co/">The Nitty Gritty</a>.</p>

  <h2>Headshot</h2>
  <p><a href="<?php print base_url(); ?>headshot/hans-christian-reinl--full.jpg">High resolution</a> <small>3744x3744px, 1Mb</small><br>
    <a href="<?php print base_url(); ?>headshot/hans-christian-reinl.jpg">Low resolution</a> <small>475x475px, 29k</small></p>

  <h2>Links</h2>
  <p><strong>Website:</strong> <a href="//drublic.de/">drublic.de</a><br>
    <strong>GitHub:</strong> <a href="//github.com/drublic">drublic</a><br>
    <strong>Twitter:</strong> <a href="//twitter.com/drublic">@drublic</a></p>

  <h2>Misc</h2>
  <p>Sometimes you might want to know this stuff, too:</p>
  <p>I live in Cologne, Germany.<br>
    The nearest airport is Cologne Bonn Airport (CGN).<br>
    I am a vegetarian.<br>
    My t-shirt size is Large.</p>
</div>
