<?php
  include ('../lib/post.php');

  use \Michelf\Markdown;

  $posts = get_posts();
?>
<main id="main" class="main" role="main">
  <?php for ($i = 0; $i < count($posts); $i++) : ?>
    <?php $post = $posts[$i]; ?>
    <?php if ($i < 5) : ?>
      <article class="posts__post" data-fx-fade>
        <header class="posts__post__header">
          <h2>
            <a href="<?php print base_url(); ?>blog/<?php print $post['url']; ?>/">
              <?php print $post['data']->title; ?>
            </a>
          </h2>
          <time class="posts__date"><?php print $post['data']->date; ?></time>
        </header>

        <?php print Markdown::defaultTransform($post['data']->abstract); ?>
      </article>
    <?php else : ?>
      <?php if ($i == 5) : ?>
        <ul class="posts__list">
      <?php endif; ?>
      <li>
        <a href="<?php print base_url(); ?>blog/<?php print $post['url']; ?>">
          <?php print $post['data']->title; ?>

          <time class="posts__date">
            <?php print $post['data']->date; ?>
          </time>
        </a>
      </li>
      <?php if ($i - 1 == count($posts)) : ?>
        </ul>
      <?php endif; ?>
    <?php endif; ?>
  <?php endfor; ?>
</main>
