
  <footer class="footer" data-fx-fade>
    <p>Made with love. <?php print date('Y'); ?>. Cologne, Germany. <a href="<?php print base_url(); ?>#imprint" title="Who does this stuff?">Legal</a>.</p>

    <ul class="social">
      <li class="social__link social__link--github"><a href="//github.com/drublic">Github</a></li>
      <li class="social__link social__link--twitter"><a href="//twitter.com/drublic">Twitter</a></li>
      <li class="social__link social__link--google"><a href="//plus.google.com/112019818423540363330?rel=author">Google+</a></li>
    </ul>

    <a href="#" class="visuallyhidden">go back up to top</a>
  </footer>

  <?php if ($environment == 'dev') { ?>
    <script src="<?php print base_url(); ?>dist/_/core.js"></script>
  <?php } else { ?>
    <script src="<?php print base_url(); ?>dist/<?php print get_version(); ?>/c.js"></script>
  <?php } ?>

  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: { families: ['Raleway:300,800'] }
    });
  </script>
</body>
</html>
