<main id="content" class="main" role="main">
  <section class="container claim" data-fx-fade>
    <img src="<?php print base_url(); ?>img/me.jpg" alt="A picture of Hans Christian Reinl" class="claim__me">

    <div class="claim__desc">
      <p>Web developer, front-end nerd, JavaScript hacker, located in Cologne.</p>
      <p>Dealing with HTML5, CSS and JavaScript is my daily business and I love it. Find out <a href="<?php print base_url(); ?>resume/">more about me</a>, <a href="<?php print base_url(); ?>portfolio/">my work</a> and <a href="#hire-me" title="Hire me in need">hire me if you are in need</a>.</p>
    </div>

    <p>
      <a href="#contact" class="button--large" aria-role="button"
        title="I am a Front-End Architect, hire me!"
        data-ga-category="Contact"
        data-ga-action="Hire"
        data-ga-label="Hire me">Hire me!</a>
    </p>
  </section>

  <!-- Projects -->
  <section class="container work" id="work" data-fx-fade>
    <h2>Work I do</h2>

    <div class="work__projects">
      <figure class="work--project" data-fx-fade>
        <a href="http://html5boilerplate.com/"><img src="<?php print base_url(); ?>img/work/html5bp.png" alt="HTML5 Boilerplate"></a>
        <figcaption>
          <h3>HTML5 <span>Boilerplate</span></h3>
        </figcaption>
      </figure>

      <figure class="work--project" data-fx-fade>
        <a href="http://use-init.com/"><img src="<?php print base_url(); ?>img/work/init.png" alt="INIT"></a>
        <figcaption>
          <h3>INIT</h3>
        </figcaption>
      </figure>

      <figure class="work--project" data-fx-fade>
        <a href="http://www.kms-blackspace.com/"><img src="<?php print base_url(); ?>img/work/kms.png" alt="KMS Blackspace"></a>
        <figcaption>
          <h3>KMS <span>Blackspace</span></h3>
        </figcaption>
      </figure>
    </div>

    <p class="work__more" data-fx-fade>
      <a href="<?php print base_url(); ?>portfolio/" class="button"
          title="View some of the work I do">View more&hellip;</a>
    </p>

    <h3 class="work__clients__title">I've done work for</h3>
    <ul class="work__clients" data-fx-fade>
      <li>
        <a href="http://vaillant-group.com/"><img src="<?php print base_url(); ?>img/work/vaillant.png"></a>
      </li>
      <li>
        <a href="http://www.sapdatacenter.com/"><img src="<?php print base_url(); ?>img/work/sap.svg"></a>
      </li>
      <li>
        <a href="http://vaillant-group.com/"><img src="<?php print base_url(); ?>img/work/sd.png"></a>
      </li>
      <li>
        <a href="http://www.fashionid.de/"><img src="<?php print base_url(); ?>img/work/fid.png"></a>
      </li>
      <li>
        <a href="http://salzundbrot.com/"><img src="<?php print base_url(); ?>img/work/sub.png"></a>
      </li>
      <li>
        <a href="http://hotelsinheaven.com/"><img src="<?php print base_url(); ?>img/work/hih.png"></a>
      </li>
      <li>
        <a href="https://www.shareacamper.co.nz/en-nz/"><img src="<?php print base_url(); ?>img/work/shareacamper.svg"></a>
      </li>
    </ul>
  </section>

  <!-- Open Source -->
  <section class="container oss" id="oss" data-fx-fade>
    <h2>Articles</h2>

    <ul>
      <?php
        include ('../lib/post.php');

        use \Michelf\Markdown;

        $posts = get_posts();
      ?>
      <?php for ($i = 0; $i < 5; $i++) : ?>
        <?php $post = $posts[$i]; ?>
        <li>
          <a href="<?php print base_url(); ?>blog/<?php print $post['url']; ?>/">
            <?php print $post['data']->title; ?>

            <time class="posts__date">
              <?php print $post['data']->date; ?>
            </time>
          </a>
        </li>
      <?php endfor; ?>
    </ul>

    <h3>On other websites</h3>
    <ul>
      <li><a href="https://medium.com/@drublic/css-naming-conventions-less-rules-more-fun-12af220e949b">CSS Naming Conventions: Less Rules, more Fun</a> on Medium.com <time class="posts__date">June 19th, 2014</time></li>
      <li><a href="https://medium.com/programming-ideas-tutorial-and-experience/f98103d09ce1">A counter statement: Putting the CSS in the head</a> on Medium.com <time class="posts__date">February 03rd, 2014</time></li>
      <li><a href="//thenittygritty.co/shared-grunt-configuration">Shared Grunt Configuration</a> for The Nitty Gritty <time class="posts__date">December 09th, 2013</time></li>
    </ul>
  </section>

  <!-- Testimonials -->
  <?php if ($config['testimonials'] === true) : ?>
    <section class="testimonials js-testimonial-wrapper" id="testimonials" data-fx-fade>
      <div class="testimonials__container container">
        <article class="testimonial js-testimonial">
          <blockquote class="testimonial__wrapper">
            <p class="testimonial__quote">Hans lead our frontend team with innovative and visionary frontend development while keeping a strict focus on agreed goals. He is a driving part of the next era of web development and thus an invaluable partner for the projects he participates in.</p>
            <footer class="testimonial__footer">
              <cite>
                Oliver Schwarz &mdash; Enterprise Architect IT at
                <a href="http://www.vaillant-group.com/">Vaillant Group</a>
              </cite>
            </footer>
          </blockquote>
        </article>

        <article class="testimonial js-testimonial">
          <blockquote class="testimonial__wrapper">
            <p class="testimonial__quote">Working with Hans is a joy. His incredible expertise in JavaScript, together with his ability to scale things while keeping the code maintainable is key to a successful project. I worked with Hans on several projects now and the outcome was always better than what the client expected it, even in a short timeframe.</p>
            <footer class="testimonial__footer">
              <cite>
                <a href="https://helloanselm.com/">Anselm Hannemann</a>
                &mdash;
                Co-organizier of <a href="http://nightlybuild.io/">NightlyBuild Conference</a>,
                Co-host at <a href="http://workingdraft.de/">Working Draft</a>, <a href="https://wdrl.info/">WDRL</a>
              </cite>
            </footer>
          </blockquote>
        </article>

        <article class="testimonial js-testimonial">
          <blockquote class="testimonial__wrapper">
            <p class="testimonial__quote">Hans is acutely aware of the performance implications of his work. He keeps track of the front-end architecture and has a strong technical knowledge. He strives to find improved ways of achieving great results. Furthermore he is a lightning fast developer with amazing passion and talent. I can’t recommend him enough!</p>
            <footer class="testimonial__footer">
              <cite>
                <a href="http://www.andreasklein.org/">Andreas Klein</a>
                &mdash;
                Freelance Front-End Developer
              </cite>
            </footer>
          </blockquote>
        </article>
      </div>
    </section>
  <?php endif; ?>

  <!-- Hire Me -->
  <section class="container hire-me" id="hire-me" data-fx-fade>
    <h2>Hire Me</h2>

    <p>I do work for businesses, agencies and other clients that value great front-end work.</p>
    <p>Work that I like to do includes consulting and educational work (workshops et cetera) as well as projects that have a focus on JavaScript application development or a deep need of scalability and consistency throughout a website. <a href="<?php print base_url(); ?>portfolio/">Review the projects I am involved in</a> to get an overview of my skills.</p>
    <p>If you would like me to deliver a talk on your conference <a href="<?php print base_url(); ?>portfolio/">please see my projects</a> and decide whether I am a good choice for yourself.</p>

    <p><a href="#contact">Contact me</a> if you think I am a fit for your project.</p>

    <p class="section__cta">
      <a href="#contact" class="button" aria-role="button"
        title="I am a Front-End Architect, hire me!"
        data-ga-category="Contact"
        data-ga-action="Hire"
        data-ga-label="Contact me">Contact me</a>
    </p>
  </section>
</main>

<?php include('includes/contact.html'); ?>
<?php include('includes/legal.html'); ?>
