<main id="content" class="main" role="main">
  <section class="container claim" data-fx-fade>
    <img src="<?php print base_url(); ?>img/me.jpg" alt="A picture of Hans Christian Reinl" class="claim__me">

    <div class="claim__desc">
      <p>Web developer, front-end nerd, JavaScript hacker, located in Cologne.</p>
      <p>Dealing with HTML5, CSS and JavaScript is my daily business and I love it. Find out <a href="<?php print base_url(); ?>resume/">more about me</a>, <a href="<?php print base_url(); ?>portfolio/">my work</a> and <a href="#hire-me" title="Hire me in need">hire me if you are in need</a>.</p>
    </div>

    <p>
      <a href="#contact" class="button--large" aria-role="button"
        title="I am a Front-End Architect, hire me!"
        data-ga-category="Contact"
        data-ga-action="Hire"
        data-ga-label="Hire me">Hire me!</a>
    </p>
  </section>

  <!-- Projects -->
  <section class="container work" id="work" data-fx-fade>
    <h2>Work I do</h2>

    <div class="work__projects">
      <figure class="work--project" data-fx-fade>
        <a href="http://html5boilerplate.com/"><img src="<?php print base_url(); ?>img/work/html5bp.png" alt="HTML5 Boilerplate"></a>
        <figcaption>
          <h3>HTML5 <span>Boilerplate</span></h3>
        </figcaption>
      </figure>

      <figure class="work--project" data-fx-fade>
        <a href="http://use-init.com/"><img src="<?php print base_url(); ?>img/work/init.png" alt="INIT"></a>
        <figcaption>
          <h3>INIT</h3>
        </figcaption>
      </figure>

      <figure class="work--project" data-fx-fade>
        <a href="http://www.kms-blackspace.com/"><img src="<?php print base_url(); ?>img/work/kms.png" alt="KMS Blackspace"></a>
        <figcaption>
          <h3>KMS <span>Blackspace</span></h3>
        </figcaption>
      </figure>
    </div>

    <p class="work__more" data-fx-fade>
      <a href="<?php print base_url(); ?>portfolio/" class="button"
          title="View some of the work I do">View more&hellip;</a>
    </p>

    <h3 class="work__clients__title">Clients</h3>
    <ul class="work__clients" data-fx-fade>
      <li>
        <a href="http://vaillant-group.com/"><img src="<?php print base_url(); ?>img/work/vaillant.png"></a>
      </li>
      <li>
        <a href="http://vaillant-group.com/"><img src="<?php print base_url(); ?>img/work/sd.png"></a>
      </li>
      <li>
        <a href="http://hotelsinheaven.com/"><img src="<?php print base_url(); ?>img/work/hih.png"></a>
      </li>
      <li>
        <a href="http://salzundbrot.com/"><img src="<?php print base_url(); ?>img/work/sub.png"></a>
      </li>
      <li>
        <a href="http://www.fashionid.de/"><img src="<?php print base_url(); ?>img/work/fid.png"></a>
      </li>
      <li>
        <a href="http://www.sapdatacenter.com/"><img src="<?php print base_url(); ?>img/work/sap.svg"></a>
      </li>
    </ul>
  </section>

  <!-- Open Source -->
  <section class="container oss" id="oss" data-fx-fade>
    <h2>Articles</h2>

    <ul>
      <?php
        include ('../lib/post.php');

        use \Michelf\Markdown;

        $posts = get_posts();
      ?>
      <?php for ($i = 0; $i < 5; $i++) : ?>
        <?php $post = $posts[$i]; ?>
        <li>
          <a href="<?php print base_url(); ?>blog/<?php print $post['url']; ?>/">
            <?php print $post['data']->title; ?>

            <time class="posts__date">
              <?php print $post['data']->date; ?>
            </time>
          </a>
        </li>
      <?php endfor; ?>
    </ul>

    <h3>On other websites</h3>
    <ul>
      <li><a href="https://medium.com/@drublic/css-naming-conventions-less-rules-more-fun-12af220e949b">CSS Naming Conventions: Less Rules, more Fun</a> on Medium.com <time class="posts__date">June 19th, 2014</time></li>
      <li><a href="https://medium.com/programming-ideas-tutorial-and-experience/f98103d09ce1">A counter statement: Putting the CSS in the head</a> on Medium.com <time class="posts__date">February 03rd, 2014</time></li>
      <li><a href="//thenittygritty.co/shared-grunt-configuration">Shared Grunt Configuration</a> for The Nitty Gritty <time class="posts__date">December 09th, 2013</time></li>
    </ul>
  </section>

  <!-- Testimonials
  <section class="testimonials" id="testimonials" data-fx-fade>
    <article class="testimonial container">
      <blockquote class="testimonial__wrapper">
        <p class="testimonial__quote">As my fellow HTML5 Doctor, Oli Studholme has showed, people seldom quote exactly
        – so sacrosanctity of the quoted text isn’t a useful ideal – and in print etc,
        citations almost always appear as part of the quotation – it’s highly conventional.</p>
        <footer class="testimonial__footer">
          <cite>
            <a href="http://www.brucelawson.co.uk/2013/on-citing-quotations-again/">Anselm Hannemann</a> &mdash; Front-End Developer at
            <a href="http://www.brucelawson.co.uk/2013/on-citing-quotations-again/">Your Mom</a>
          </cite>
        </footer>
      </blockquote>
    </article>
  </section> -->

  <!-- Hire Me -->
  <section class="container hire-me" id="hire-me" data-fx-fade>
    <h2>Hire Me</h2>

    <p>I do work for businesses, agencies and other clients that value great front-end work.</p>
    <p>Work that I like to do includes consulting and educational work (workshops et cetera) as well as projects that have a focus on JavaScript application development or a deep need of scalability and consistency throughout a website. <a href="<?php print base_url(); ?>portfolio/">Review the projects I am involved in</a> to get an overview of my skills.</p>
    <p>If you would like me to deliver a talk on your conference <a href="<?php print base_url(); ?>portfolio/">please see my projects</a> and decide whether I am a good choice for yourself.</p>

    <p><a href="#contact">Contact me</a> if you think I am a fit for your project.</p>

    <p class="section__cta">
      <a href="#contact" class="button" aria-role="button"
        title="I am a Front-End Architect, hire me!"
        data-ga-category="Contact"
        data-ga-action="Hire"
        data-ga-label="Contact me">Contact me</a>
    </p>

    <div data-fx-fade>
      <h3>Availability</h3>

      <p>To get an impression on my availability please have a look at the upcoming weeks.</p>

      <table class="availability">
        <tbody>
          <tr data-availability></tr>
        </tbody>
      </table>
    </div>

    <script>
    window.__availability = {
      "21.09.": 2,
      "28.09.": 1,
      "05.10.": 0,
      "12.10.": 1,
      "19.10.": 0,
      "26.10.": 0,
      "02.11.": 0,
      "09.11.": 0,
      "16.11.": 0,
      "23.11.": 0,
      "30.11.": 0
    };
    </script>
  </section>
</main>

<?php include('includes/contact.html'); ?>
<?php include('includes/legal.html'); ?>
