<main id="content" class="main main--portfolio" role="main">

	<section class="work" id="work">
		<h2>Work I do</h2>

		<figure class="work--project">
			<a href="http://html5boilerplate.com/"><img src="<?php print base_url(); ?>img/work/html5bp.png" alt="HTML5 Boilerplate"></a>
			<figcaption>
				<h3>HTML5 <span>Boilerplate</span></h3>
				<p>I am a member of the <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a> developer&#8217;s team. It is the web&#8217;s most popular front-end template.</p>
			</figcaption>
		</figure>

		<figure class="work--project work--light">
			<a href="http://use-init.com/"><img src="<?php print base_url(); ?>img/work/init.png" alt="INIT"></a>
			<figcaption>
				<h3>INIT</h3>
				<p><a href="http://use-init.com/">INIT</a> is an Open Source framework for front-end projects which adds a decent workflow utilizing Grunt, Bower and more.</p>
			</figcaption>
		</figure>

		<figure class="work--project work--light">
			<a href="http://workingdraft.de/"><img src="<?php print base_url(); ?>img/work/wd.png" alt="Working Draft"></a>
			<figcaption>
				<h3>Working <span>Draft</span></h3>
				<p><a href="http://workingdraft.de/">Working Draft</a> is a wildly recognized German weekly news podcast for web developers. I am a co-hosts of the show.</p>
			</figcaption>
		</figure>

		<figure class="work--project">
			<a href="http://drublic.github.io/css-modal/"><img src="<?php print base_url(); ?>img/work/modal.png" alt="CSS Modal"></a>
			<figcaption>
				<h3>CSS <span>Modal</span></h3>
				<p><a href="http://drublic.github.io/css-modal/">CSS Modal</a> is a modal overlay which can be used without JavaScript as a requirement. It is Open Source.</p>
			</figcaption>
		</figure>

		<figure class="work--project work--light">
			<a href="http://thenittygritty.co/"><img src="<?php print base_url(); ?>img/work/tng.png" alt="The Nitty Gritty"></a>
			<figcaption>
				<h3>The <span>Nitty Gritty</span></h3>
				<p><a href="http://thenittygritty.co/">The Nitty Gritty</a> is a blog for web developers with a deep technical understanding. With my friend <a href="http://kahlil.co/">Kahlil</a> I maintain it.</p>
			</figcaption>
		</figure>

		<figure class="work--project">
			<a href="http://www.kms-blackspace.com/"><img src="<?php print base_url(); ?>img/work/kms.png" alt="KMS Blackspace"></a>
			<figcaption>
				<h3>KMS <span>Blackspace</span></h3>
				<p>Front-End Development &amp; TYPO3 Configuration for Design and Branding Agency <a href="http://www.kms-blackspace.com/">KMS BLACKSPACE</a> from Munich.</p>
			</figcaption>
		</figure>

		<figure class="work--project">
			<a href="http://www.sapdatacenter.com/"><img src="<?php print base_url(); ?>img/work/sap.png" alt="SAP Data Center"></a>
			<figcaption>
				<h3>SAP <span>Data Center</span></h3>
				<p><a href="http://helloanselm.com/">Anselm Hannemann</a> and I developed the Front-end for SAP's new Cloud service for large companies: <a href="http://www.sapdatacenter.com/">SAP Data Center</a>.</p>
			</figcaption>
		</figure>

		<figure class="work--project work--light">
			<a href="http://app-meister.com/" title="App Meister"><img src="<?php print base_url(); ?>img/work/appmeister.png" alt="App Meister"></a>
			<figcaption>
				<h3>App <span>Meister</span></h3>
				<p>For the start-up compendii I worked on the mobile version of <a href="http://app-meister.com/" title="App Meister">App Meister</a>. App Meister helps you to find the best iOS apps for your need.</p>
			</figcaption>
		</figure>

		<figure class="work--project work--light">
			<a href="http://umantis.com/" title="Haufe Umantis Talent Management"><img src="<?php print base_url(); ?>img/work/umantis.png" alt="Umantis"></a>
			<figcaption>
				<h3>Umantis <span>Talent Management</span></h3>
				<p><a href="http://umantis.com/" title="Haufe Umantis Talent Management">Haufe Umantis Talent Management</a> helps develop the skills of your employees. I developed the Front-end and TYPO3 integration with <a href="http://gebruederheitz.de/">/gebrüderheitz</a>.</p>
			</figcaption>
		</figure>

		<figure class="work--project work--light">
			<a href="http://www.dgu-online.de/"><img src="<?php print base_url(); ?>img/work/dgu.png" alt=""></a>
			<figcaption>
				<h3>DGU</h3>
				<p>The <a href="http://www.dgu-online.de/">Deutsche Gesellschaft für Unfallchirurgie</a> relaunched their online presence. At <a href="http://gebruederheitz.de/">/gebrüderheitz</a> we developed the TYPO3-based website.</p>
			</figcaption>
		</figure>

		<figure class="work--project work--light">
			<a href="http://idesk2.haufe.de/"><img src="<?php print base_url(); ?>img/work/idesk.png" alt="Haufe iDesk2"></a>
			<figcaption>
				<h3>Haufe <span>iDesk2</span></h3>
				<p><a href="http://idesk2.haufe.de/">Haufe iDesk<sup>2</sup></a> is a software to optimize your workflow. At /gebrüderheitz we developed a webpage with cutting edge technologies.</p>
			</figcaption>
		</figure>
	</section>
</main>
