<main id="content" class="main container" role="main" data-fx-fade>

  <h1>What I want to do</h1>
  <p>I am currently searching a freelance role as a developer and architect in an agile environment.<br>
  My preferred role would be to help you and your team <b>migrate a monolithic platform to a future-proof micro-service oriented environment</b>. I got a track record in doing projects like this.<br>
  I am available as of mid of July 2017. Preferably in the Cologne, Düsseldorf area. Contact me via <a href="mailto:info@drublic.de">info@drublic.de</a> or via the <a href="<?php print base_url(); ?>#contact">contact form</a> if you are interested.</p>

  <a href="<?php print base_url(); ?>#contact" class="button">Contact me</a>

  <h2>About me</h2>

  <p>I am a Certified Scrum Master and frontend architect located in Cologne, Germany.<br>
  Agile development and Scrum influence my daily work since 2012. I have nine years of experience in developing scalable web applications using cutting edge technologies based on Micro-Service Oriented Architecture including HTML/CSS and object-oriented JavaScript (frontend and backend).</p>

  <p>I love architecting systems in a high-performance environment with a focus on frontend development. My passion in JavaScript and CSS is as strong as my belief in agile methodologies, especially Scrum.</p>
  <p>
    <a href="<?php print base_url(); ?>resume/" class="button">My Curriculum Vitae</a>
    <a href="<?php print base_url(); ?>portfolio/" class="button">Other Projects</a>
  </p>


</main>
