/**
 * Header
 */
:root {
  --header-color: var(--color-dark);
}

.header__inner {
  max-width: var(--width);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.header__logo {
  float: left;
  width: 8rem;
  height: 8rem;
  text-indent: -999em;
  border: 0;
  margin-right: 2rem;
}

.header__title {
  display: inline-block;
  margin: 2rem 0;
}

.header__title__line {
  display: inline;
  line-height: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  background: var(--header-color);
  color: #fff;
}

.header p {
  font-size: 1.2em;
}

@media (min-width: 32em) {
  .header__title {
    margin: 4rem 0 2rem;
  }
}

/**
 * Legal notice
 */
.header .navigation__legal {
  padding: 1rem 1rem 1rem 3rem;
  font-size: 0.75rem;
}

@media (max-width: 36em) {
  .header__inner {
    padding-bottom: 2rem;
  }

  .header__logo {
    display: none;
  }
}

@media (min-width: 32em) {
  .header__inner {
    padding: 2rem;
  }
}

@media print {
  .header__logo {
    display: none;
  }

  .header__inner {
    max-width: none;
    padding: 0;
  }
}
