/**
 * Header
 */
:root {
  --header-color: var(--color-dark);
}

.header {
  background: var(--header-color);
  color: #fff;
}

.header__inner {
  max-width: 53rem;
  margin: 0 auto;
  padding: 2rem 2rem 4rem;
}

.header__logo {
  float: left;
  width: 8rem;
  height: 8rem;
  background: url(/img/logo.svg);
  background-size: 100% auto;
  text-indent: -999em;
  border: 0;
  margin-right: 2rem;
}

.header__title {
  margin: 1.5rem 0 0;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.header p {
  font-size: 1.2em;
}

/**
 * Legal notice
 */
.header .navigation__legal {
  padding: 1rem 1rem 1rem 3rem;
  font-size: 0.75rem;
}

@media screen and (max-width: 36em) {
  .header__inner {
    padding-bottom: 2rem;
  }

  .header__logo {
    display: none;
  }
}

@media print {
  .header__logo {
    display: none;
  }

  .header__inner {
    max-width: none;
    padding: 0;
  }
}
