/**
 * General layouting
 */
html {
  background: #fff;
}

body {
  -webkit-overflow-scrolling: touch;
}

hr {
  border-top: 0.25rem solid var(--border-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/**
 * Main section
 */
.main {
  max-width: 45rem;
  padding: 3rem 2rem;
  margin: 0 auto;
}

.main--portfolio {
  max-width: 80rem;
}

.section__cta {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (max-width: 40em) {
  .main {
    padding-top: 0;
  }

  .claim {
    padding: 0;
  }
}

@media screen and (max-width: 35em) {
  .claim {
    text-align: center;
  }

  .claim__me {
    display: none;
  }
}


/* Under 360px */
@media screen and (max-width: 24em) {
  .main {
    padding: 0 1em 1em;
  }
}

/**
 * Overlays
 */
.imprint h2,
.contact h2 {
  border-bottom: none;
}


/**
 * Resume
 */
.resume-header > h1 {
  margin: 1em 0 0;
  line-height: 1.2;
}


/**
 * Print styles
 */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
  }

  html {
    border-top: 0;
  }

  body {
    font-size: 13px;
  }

  .header {
    padding: 0;
  }

  .navigation,
  .footer {
    display: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  a[href^="#"]:after,
  a[href^="mailto:"]:after {
    content: "";
  }

  @page {
    margin: 1.2cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



/**
 * Scroller
 */
.layout__scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border: 0;
  background: none;
  opacity: 1;
  transition: 0.4s;
}

.layout__scroll-top.is-hidden {
  opacity: 0;
}

@media screen and (max-width: 34em) {
  .layout__scroll-top {
    display: none;
  }
}
