<main id="content" class="main container" role="main">

  <section class="work" id="work">
    <h1>Work I do</h1>

    <h2>Clients</h2>

    <p>In the past I have worked for several clients small and large.</p>

    <div class="work__for">
      {{> clients}}
    </div>

    <div>
      <h2>My own projects</h2>

      <div class="work__element">
        <a href="https://warhol.io/" class="work__element__image">
          <img src="{{baseUrl}}/img/work/warhol.svg" alt="Warhol" height="150">
        </a>

        <div class="work__element__content">
          <h3>Warhol</h3>
          <p>
            <a href="https://warhol.com/">Warhol</a> automates UI and web design testing with laser focus on speed,
            efficiency, and developer productivity. Warhol's algorithms turn your existing pattern library into tests
            that can verify component implementation and design consistency on your production web interface.
          </p>

          <p>Together with <a href="https://www.peterkroener.de/">Peter Kröner</a> I worked on this tool and we love to
            make web development more easy.</p>
          <p class="work__element__date">Development since 2018</p>
        </div>
      </div>
    </div>

    <div>
      {{> portfolio/community }}
    </div>

    <div>
      {{> portfolio/projects }}
    </div>
  </section>
</main>
