@charset "UTF-8";
/**
 * @include x-multiple-backgrounds(
 *	rgba(0, 0, 0, 0.3),
 *	url('img/someImage-1.png'),
 *	url('../img/someImage-2.png') no-repeat,
 *	(linear-gradient, to bottom, #aaa, #ddd)
 * );
 */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 5.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Addresses font sizes and margins set differently in IE 6/7.
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Addresses margins set differently in IE 6/7.
 */
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 *  Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button, .site-navigation a {
  display: inline-block;
  padding: 0 11px;
  text-decoration: none;
  background: #000;
  color: #fff;
  border-radius: 2px;
}
.button:visited, .site-navigation a:visited {
  color: #fff;
}
.button:hover, .site-navigation a:hover {
  background-color: #27aae2;
}

.work:before, .work:after {
  content: '';
  display: table;
}
.work:after {
  clear: both;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/**
 * Modal as reusable module
 *
 * Usage:
 *    selector {
 *        @extend %modal;
 *    }
 */
/*
 * Configuration
 */
html {
  overflow-y: scroll;
}

.has-overlay {
  overflow: hidden;
}
.has-overlay > body {
  height: 100%;
  overflow-y: scroll;
}

.semantic-content, .imprint,
.contact {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  color: #222;
  line-height: 1.3;
  display: none\9;
}
.semantic-content:target, .imprint:target,
.contact:target {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.is-active.semantic-content, .is-active.imprint,
.is-active.contact {
  display: block\9;
}
.semantic-content .modal-inner, .imprint .modal-inner,
.contact .modal-inner {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.semantic-content .modal-inner > img, .imprint .modal-inner > img,
.contact .modal-inner > img,
.semantic-content .modal-inner > video,
.imprint .modal-inner > video,
.contact .modal-inner > video,
.semantic-content .modal-inner > iframe,
.imprint .modal-inner > iframe,
.contact .modal-inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}
.semantic-content .modal-inner > img, .imprint .modal-inner > img,
.contact .modal-inner > img {
  width: auto;
  max-width: 100%;
}
.semantic-content header, .imprint header,
.contact header {
  border-bottom: 1px solid #dddddd;
  padding: 0 1.2em;
}
.semantic-content header > h2, .imprint header > h2,
.contact header > h2 {
  margin: 0.5em 0;
}
.semantic-content .modal-content, .imprint .modal-content,
.contact .modal-content {
  max-height: 400px;
  max-height: 70vh;
  border-bottom: 1px solid #dddddd;
  padding: 15px 1.2em;
  overflow-x: hidden;
  overflow-y: auto;
}
.semantic-content .modal-content > *, .imprint .modal-content > *,
.contact .modal-content > * {
  max-width: 100%;
}
.semantic-content footer, .imprint footer,
.contact footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
.semantic-content .modal-close, .imprint .modal-close,
.contact .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}
.semantic-content .modal-close:before, .imprint .modal-close:before,
.contact .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==");
}
.semantic-content .modal-close:after, .imprint .modal-close:after,
.contact .modal-close:after {
  content: '×';
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 20;
  margin-left: 285px;
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}
@media screen and (max-width: 690px) {
  .semantic-content .modal-inner, .imprint .modal-inner,
  .contact .modal-inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }
  .semantic-content .modal-close, .imprint .modal-close,
  .contact .modal-close {
    left: auto;
    right: 33px;
    margin-left: 0;
  }
  .semantic-content .modal-close:after, .imprint .modal-close:after,
  .contact .modal-close:after {
    margin-left: 40%;
  }
}
@media screen and (max-width: 30em) {
  .semantic-content, .imprint,
  .contact {
    -webkit-transform: translate(0, 400px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform .25s ease-in-out, opacity 1ms .25s;
    -moz-transition: -moz-transform .25s ease-in-out, opacity 1ms .25s;
    -o-transition: -o-transform .25s ease-in-out, opacity 1ms .25s;
    -ms-transition: -ms-transform .25s ease-in-out, opacity 1ms .25s;
    transition: transform .25s ease-in-out, opacity 1ms .25s;
    display: block;
    height: 100%;
    bottom: auto;
  }
  .semantic-content:target, .imprint:target,
  .contact:target {
    -webkit-transition: -webkit-transform .25s ease-in-out;
    -moz-transition: -moz-transform .25s ease-in-out;
    -o-transition: -o-transform .25s ease-in-out;
    -ms-transition: -ms-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
  }
  .semantic-content:before, .imprint:before,
  .contact:before {
    background-color: #27aae2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#27aae2), to(#1c9cd3));
    background-image: -webkit-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -moz-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -o-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: linear-gradient(to bottom, #27aae2, #1c9cd3);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    height: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  .semantic-content .modal-inner, .imprint .modal-inner,
  .contact .modal-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3em;
    height: 100%;
    overflow: scroll;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .semantic-content .modal-content, .imprint .modal-content,
  .contact .modal-content {
    max-height: none;
  }
  .semantic-content .modal-close, .imprint .modal-close,
  .contact .modal-close {
    right: auto;
    text-decoration: none;
  }
  .semantic-content .modal-close:before, .imprint .modal-close:before,
  .contact .modal-close:before {
    display: none;
  }
  .semantic-content .modal-close:after, .imprint .modal-close:after,
  .contact .modal-close:after {
    content: 'Close';
    top: 0.4em;
    left: 1em;
    z-index: 40;
    margin-left: 0;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}
@media screen and (max-height: 46em) and (min-width: 30em) {
  .semantic-content .modal-content, .imprint .modal-content,
  .contact .modal-content {
    max-height: 340px;
    max-height: 50vh;
  }
}
@media screen and (max-height: 36em) and (min-width: 30em) {
  .semantic-content .modal-content, .imprint .modal-content,
  .contact .modal-content {
    max-height: 265px;
    max-height: 40vh;
  }
}

@media screen and (min-width: 30em) {
  .semantic-content, .imprint,
  .contact {
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
}

/**
 * Work
 */
.work {
  margin: 0 -12px;
  margin: 0 -0.75rem;
}
.work > * {
  margin-left: 12px;
  margin-left: 0.75rem;
  margin-right: 12px;
  margin-right: 0.75rem;
}

.work-project {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  padding: 0.75rem;
  float: left;
  display: inline;
  width: 33.333%;
  margin: 0;
}
.work-project img {
  display: block;
  max-width: 100%;
  height: auto;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.work-project > figcaption {
  padding: 12px 8px 0;
  padding: 0.75rem 0.5rem 0;
}

/**
 * Social Media Links
 */
.social-media-links {
  list-style: none;
  margin: 1.3em 0 0;
  padding-left: 0;
  text-align: center;
}
.social-media-links:before {
  content: '';
  display: table;
  clear: both;
}
.social-media-links li {
  display: inline;
}
.social-media-links a {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 7px;
  border-radius: 50%;
  text-indent: -200px;
  overflow: hidden;
  background: #111111 url(../img/github.png);
  background-size: 32px;
}
.social-media-links .twitter a {
  background-image: url(../img/twitter.png);
}
.social-media-links .google-plus a {
  background-image: url(../img/google-plus.png);
}
.social-media-links .rss a {
  background-image: url(../img/feed.png);
}
.social-media-links .github a {
  background-color: transparent;
}

html {
  background: #fff;
  border-top: 7px solid #27aae2;
}

body {
  font: 16px/1.5 Helvetica Neue, sans-serif;
  color: #222222;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: 20px;
}
h1 + h2 {
  margin-top: 0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}
h1 + h4 {
  margin-top: 0;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: #222222;
  text-decoration: underline;
}
a:visited {
  color: #222222;
}
a:hover {
  color: #27aae2;
  text-decoration: none;
}

p {
  margin: 0;
}
p + p {
  margin-top: 1em;
}
h2 + p {
  margin-top: 0;
}

ul {
  padding-left: 1.1em;
}

.button {
  font-size: 1.3em;
}
.button:hover {
  color: #fff;
}

.site-navigation {
  max-width: 640px;
  max-width: 40rem;
  margin: 0 auto;
  line-height: 2;
}
.site-navigation ul {
  margin: 48px 0 32px;
  margin: 3rem 0 2rem;
  padding: 0 2em;
  text-align: center;
}
.site-navigation li {
  display: inline-block;
  vertical-align: top;
}
.site-navigation li.is-active a {
  background-color: #27aae2;
  color: #fff;
}
.site-navigation a {
  padding: 10px 20px;
  margin-left: 7px;
}
.site-navigation a:hover {
  background-color: #27aae2;
  color: #fff;
}
.site-navigation a.visuallyhidden {
  padding: 0;
}
.site-navigation .site-logo {
  padding: 0;
  text-align: center;
}
.site-navigation .site-logo a {
  background: #27aae2;
  width: 2em;
  height: 2em;
  padding: 10px;
  background: url(../img/logo.svg);
  background-size: contain;
  text-indent: -100px;
  overflow: hidden;
}
.no-svg .site-navigation .site-logo a {
  background-image: url(../img/logo.png);
}
.site-navigation .navigation-target,
.site-navigation .navigation-toggle {
  display: none;
}

.site-claim {
  margin: 0.3em 0 0;
  font-size: 5em;
  font-weight: normal;
}
.site-claim span {
  font-size: 0.3em;
}

.main {
  max-width: 720px;
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 2em;
}

h2 {
  border-bottom: 1px solid #111;
  margin: .5em 0;
  font-size: 2em;
  font-weight: normal;
}
h2 a {
  text-decoration: none;
}

h3 {
  font-size: 1.2em;
  margin: 1em 0 .5em;
}
h3 a {
  text-decoration: none;
}

.desc {
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 2em;
}

.content {
  margin: 2em -1.5% 0;
  overflow: hidden;
}
.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content li {
  padding-top: 30px;
  word-wrap: break-word;
}

.hire-me {
  margin: 3em 0;
}

.imprint h2,
.contact h2 {
  border-bottom: none;
}

.site-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 32px auto 0;
  margin: 2rem auto 0;
  padding: 64px 32px 48px;
  padding: 4rem 2rem 3rem;
  max-width: 720px;
  max-width: 45rem;
  text-align: center;
  border-top: 1px solid #111;
}
.site-footer p {
  font-family: Georgia, Times New Roman, serif;
  font-style: italic;
}
.site-footer .follow-me {
  padding: 32px 0 32px;
  padding: 2rem 0 2rem;
}
.site-footer .le-me {
  width: 208px;
  width: 13rem;
  border-radius: 50%;
}

.resume-header > h1 {
  margin: 1em 0 0;
  line-height: 1.2;
}

@media screen and (max-width: 68em) {
  body {
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 44em) {
  .site-claim {
    font-size: 3.5em;
  }

  .desc {
    font-size: 1em;
  }
}
@media screen and (max-width: 38em) {
  .site-navigation > ul {
    display: none;
    position: absolute;
    top: 3.2em;
    right: 0;
    min-width: 60%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #111;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  .site-navigation li {
    display: block;
  }
  .site-navigation li > a {
    display: block;
    margin-left: 0;
    background: none;
  }
  .site-navigation .site-logo a {
    width: auto;
    background-repeat: no-repeat;
    background-color: #27aae2;
    background-position: center center;
    text-indent: -999px;
    border-radius: 2px;
  }
  .site-navigation > .navigation-toggle {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 0 0 0 2px;
    background: #27aae2 url(../img/navigation.svg) no-repeat 50% 50%;
    padding: 4px 4px 4px 5px;
    text-indent: -200px;
    overflow: hidden;
  }

  .navigation-target {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  .navigation-target:target {
    display: block;
  }
  .navigation-target:target ~ ul {
    display: block;
  }

  .work-project {
    width: 100%;
    padding: 10px;
  }
  .work-project > img {
    float: left;
    max-width: 45%;
    margin-right: 1em;
  }
  .work-project > figcaption {
    padding: 0;
  }
}
@media screen and (max-width: 32em) {
  .site-claim {
    line-height: 1.4;
    margin-bottom: 0.5em;
  }
  .site-claim span {
    display: block;
  }

  .site-footer {
    padding: 2em 2em 1em;
  }
  .site-footer .follow-me {
    padding: 2em 0;
  }
}
@media screen and (max-width: 24em) {
  .site-claim {
    font-size: 2.8em;
    margin-top: 0.8em;
  }
  .site-claim span {
    font-size: 0.5em;
  }

  .main,
  .site-footer {
    padding: 0 1em 1em;
  }

  .work-project img {
    margin-left: -0.5em;
  }
}
/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
  }

  html {
    border-top: 0;
  }

  body {
    font-size: 13px;
  }

  .site-header,
  .site-footer {
    display: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after,
  a[href^="mailto:"]:after {
    content: "";
  }

  @page {
    margin: 1.2cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
