/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #eee; color: #444; text-shadow: none; }
::selection { background: #eee; color: #444; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #eee; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */

html {
  height: 100%;
  background: #222 url(../img/bg.png);
  min-width: 700px;
}


body { color: #ccc; }


/* Messages */
.js .nojs-active { display: none; }
.message {
  position: fixed; top: 0; left: 50%;
  background: #fff1a8;
  width: 400px;
  margin-left: -200px; padding: 10px 20px 8px;
  text-align: center; font-size: 1.1em; color: #111;
}


/* Headlines */
h2 { border-bottom: 1px solid #ddd; margin: 10px 0; padding: 10px 0; font-size: 2em; font-weight: normal; }
h2 a, h2 a:visited { color: #fff; text-decoration: none; }
h2 a:hover { color: #eee; }
h3 { font-size: 1.2em; margin: 1em 0 .5em; }
h4 a { text-decoration: none; }





/* Rounded Corners */
input, textarea,
.location p {
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.message {
     -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}



/* Shadows */
.message {
     -moz-box-shadow: 0 0 4px #000;
  -webkit-box-shadow: 0 0 4px #000;
          box-shadow: 0 0 4px #000;
}





/* Transforms & Transitions */
#head a,
.projects li h4,
.location, .location p,
.social-media-links li a {
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}


#head a:hover {
     -moz-transform: scale(1.2,1.2) rotate(2deg);
       -o-transform: scale(1.2,1.2) rotate(2deg);
  -webkit-transform: scale(1.2,1.2) rotate(2deg);
      -ms-transform: scale(1.2,1.2) rotate(2deg);
          transform: scale(1.2,1.2) rotate(2deg);
}







/* Links */
a, a:visited { color: #fff; }
a:hover { color: #ccc; text-decoration: none; }


/* Paragraphes */
p { padding-bottom: 10px; }


/* Quotes */
q { font: italic 1em Georgia, "Times New Roman", Times, serif; }




/* Forms */
form { padding: 1em 0; }
fieldset { padding: .7em 0 0; }
label { float: left; width: 150px; margin: .5em 0; }

input, textarea { width: 300px; border: 1px solid #aaa; background: #eee; padding: 5px 10px; font-size: 1.3em; }
input:focus, textarea:focus { outline: none; border-bottom-color: #fff; background: #ddd; }
textarea { height: 150px; }

input[disabled], textarea[disabled] { opacity: .5; filter: alpha(opacity=50); }

input[type="submit"] {
  width: auto; float: right;
  border: none; padding: 8px 15px 7px;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
  background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
  background: -moz-linear-gradient(top, #65a9d7, #3e779d);
  background: linear-gradient(top, #65a9d7, #3e779d);
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #fff; vertical-align: middle; font-size: 1.1em;
}
input[type="submit"]:hover { background: #3e779d; color: #ddd; }
input[type="submit"]:active { background: #346585; text-shadow: #000 0 1px 0; }

.invalid { border-color: #c00; background: #fdd; }



#container { margin: 0; overflow: hidden; }


/* Header */
header { text-align: center; }
#head { padding: 50px 0; }
#head a { display: inline-block; font-size: 4em; text-decoration: none; font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif; }
#head p { width: 400px; margin: 10px auto; font: italic 1.2em/1.5em Georgia, "Times New Roman", serif; color: #aaa; text-shadow: 1px 1px 0 #444; }



@-webkit-keyframes jumper {
  0% { top: 156px; }
  45% { top: 147px; }
  100% { top: 156px; }
}
@-moz-keyframes jumper {
  0% { top: 156px; }
  45% { top: 147px; }
  100% { top: 156px; }
}



/* Location and Map */
.location {
  position: absolute; top: 0; right: 0;
  width: 200px; height: 252px;
  background: url(../img/germany.png);
  opacity: .5;
}
.location:hover { opacity: 1; }
.location .needle {
  position: absolute; top: 156px; left: 18px;
  width: 25px; height: 35px;
  background: url(../img/needle.png);
  -webkit-animation: jumper 1s infinite ease-out;
     -moz-animation: jumper 1s infinite ease-out;
}
.location:hover .needle {
  -webkit-animation: none;
     -moz-animation: none;
}
.location p {
  display: none;
  position: absolute; top: -50px; right: -97px;
  background: #444;
  background: rgba(70,70,70,.8);
  padding: 7px 15px;
  border-top: 1px solid #666;
  white-space: nowrap;
  opacity: 0;
}
.location:hover p { display: block; }
.location .needle:hover p { display: block; top: -45px; opacity: 1; }
.location p:after {
  display: block; content: '\0020';
  position: absolute; left: 50%; bottom: -10px;
  margin-left: -5px;
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: rgba(70,70,70,.8) transparent;
}


/* Social-Media-Links */
.social-media-links { position: absolute; list-style: none; margin: 7px 0 7px 50px; }
.social-media-links li { float: left; }
.social-media-links li a {
  display: inline; float: left;
  width: 24px; height: 24px;
  margin-right: 10px;
  text-indent: -999em;
  background: url(../img/sprite.png);
  opacity: 0.3;
}
.social-media-links li a:hover { opacity: 1; }

.social-media-links .twitter a { background-position: -24px 0; }
.social-media-links .lastfm a { background-position: -24px -24px; }


/* Navigation */
nav { background: url(../img/bg-dark.png); border-bottom: 2px solid #222; overflow: hidden; }
nav ul {  position: relative; z-index: 1; float: right; margin: 0.6em 50px; }
nav li { display: inline; }
nav a, nav a:visited { float: left; padding: 3px 5px; color: #777; text-decoration: none; border-bottom: 2px solid #000; }
nav a:hover { border-bottom: 2px solid #bbb; }
nav .active a, nav .active a:visited { color: #aaa; border-bottom-color: #fff; }



/* Main Content */
#main { position: relative; max-width: 1400px; margin: 0 auto 50px; overflow: hidden; }


#main ul { list-style: none; margin: 0; padding: 0; }
#main li { position: relative; width: 100%; font-size: 1.3em; padding-top: 30px; word-wrap: break-word; }

#main .loader { width: 100%; height: 100px; background: url(../img/loader.gif) no-repeat center center; }


#main section { position: relative; float: left; margin: 0 1.5%; width: 22%; }

#main h2 { position: relative; text-align: center; font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif; }

.blog h2 { border-bottom-color: #d1ccb2; }
.blog a, .blog a:visited { color: #d1ccb2; }

.flipthemes h2 { border-bottom-color: #00adee; }
.flipthemes a, .flipthemes a:visited { color: #00adee; }

#main .twitter h2 { border-bottom-color: #3cf; }
.twitter a, .twitter a:visited { color: #3cf; }

.tumblr h2 { border-bottom-color: #2c4762; }
.tumblr a, .tumblr a:visited { color: #2c4762; }

.projects h2 { border-bottom-color: #aaa; }
.projects h2 a, .projects h2 a:visited { color: #aaa; }

.feed img, .feed embed { width: 100% !important; height: auto !important; }

.official { position: absolute; bottom: 3px; right: -15px; z-index: 2; width: 64px; height: 64px; background: url(../img/official.png); }


/* The projects */
.projects h4 { position: absolute; bottom: 10px; background: rgba(0,0,0,0.7); padding: 5px 10px; font-weight: normal; }

.projects li { position: relative; }
.projects li:hover h4 { background: rgba(0,0,0,1); }
.projects .front { text-decoration: none; color: #fff; }
.projects .front img { display: block; }
.projects .back { display: none; }

#fancybox-content { color: #444;}
#fancybox-content a,
#fancybox-content a:visited { color: #888; }


/* The date */
#main .date { display: block; padding-top: 5px; font-size: 0.7em; color: #555; text-align: right; text-decoration: none; }
#main .date:visited { color: #555; }




/* Imprint */
.imprint, .contact {
  display: none;
  position: relative; top: 0;
  width: 600px;
  margin: 0 auto; padding-bottom: 10em;
  font-size: 1.1em;
}



.col_50 { float: left; width: 50%; }



/* Imprint */
footer {
  position: fixed; bottom: 0;
  width: 100%; height: 100px;
  background-image: -moz-linear-gradient(top, rgba(42,41,38,0), rgba(42,41,38,1)); 
  background-image: -o-linear-gradient(top, rgba(42,41,38,0), rgba(42,41,38,1));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(42,41,38,0)),color-stop(1, rgba(42,41,38,,1))); 
  background-image: -webkit-linear-gradient(rgba(42,41,38,0), rgba(42,41,38,1));
  background-image: linear-gradient(top, rgba(42,41,38,0), rgba(42,41,38,1));
}






/* Lightbox */
#fancybox-overlay {
  background: -webkit-gradient(radial, center center, 0, center center, 141, from(rgba(0,0,0,.7)), to(rgba(0,0,0,1))) !important; /* old WebKit Syntax */
  background: -webkit-radial-gradient(center center, circle contain, rgba(0,0,0,.7), rgba(0,0,0,1)) !important; /* New WebKit syntax */
  background: -moz-radial-gradient(center center, circle contain, rgba(0,0,0,.7), rgba(0,0,0,1)) !important;
  background: -ms-radial-gradient(center center, circle contain, rgba(0,0,0,.7), rgba(0,0,0,1)) !important; /* IE10+ */
  background: -o-radial-gradient(center center, circle contain, rgba(0,0,0,.7), rgba(0,0,0,1)) !important; /* Opera (13?) */
  background: radial-gradient(center center, circle contain, rgba(0,0,0,.7), rgba(0,0,0,1)) !important; /* standard syntax */
}









/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-width: 480px) {


  html { min-width: 0; background: #111; }
  
  input, textarea { width: 90%; }
  
  /* Header */
  #head { padding: 20px 0 10px; }
  #head a { font-size: 2.5em; }
  #head p { width: auto; }
  
  
  .location { opacity: .3; }
  
  
  
  /* Navigation */
  nav ul { float: none; margin: 1em 10px; overflow: hidden; }
  nav li { float: left; display: block; width: 33.333%; }
  nav li:first-child { text-align: left; }
  nav li:last-child { text-align: right; }
  nav a { float: none; display: inline-block; }
  
  nav li:first-child a:before,
  nav li:last-child a:after { position: relative; bottom: -1px; font: 1.2em Tahoma, sans-serif; }
  nav li:first-child a:before { content: '\2039\0020'; }
  nav li:last-child a:after { content: '\0020\203A'; }
  
  #main { margin: 0; }
  #main section { float: none; margin: 0 10px 40px; width: auto; }
  
  /* Menu */
  #main .menu { margin: 10px; border-top: 1px solid #333; }
  #main .menu li { padding: 0; }
  #main .menu a {
    display: block; background: #222;
    padding: 5px 0; border-bottom: 1px solid #333; margin-bottom: 1px;
    text-decoration: none; text-align: center;
  }
  
  .contact, .imprint { width: auto; margin: 0 10px; }
  
  .scroll-top, .scroll-next { position: absolute; top: 13px; right: 10px; z-index: 200; font-size: 1.5em; cursor: pointer; display: block; }
  
  footer { display: none; }
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}




/* h5bp-import: fancybox.css */