<main id="main" role="main" data-fx-fade>
  <div class="main container">
    <img src="<?php print base_url(); ?>img/me.jpg" alt="A picture of Hans Christian Reinl" class="claim__me">

    <header class="resume-header">
      <h1>Hans Christian Reinl</h1>
      <h4>Frontend Architect and Certified Scrum Master</h4>

      <address>
        35606 Solms &amp; 50825 Cologne, Germany
        <br>
        <a href="//drublic.de/">drublic.de</a>
        <br>
        <a href="mailto:info@drublic.de">info@drublic.de</a>
        <br>
        <a href="//drublic.de/blog/">My blog</a> &ndash;
        <a href="//twitter.com/drublic">Twitter</a> &ndash;
        <a href="//github.com/drublic">GitHub</a>
      </address>
    </header>

    <section>
      <h2>About</h2>
      <p>I am a Certified Scrum Master and frontend architect located in Cologne, Germany.
        <br> Agile development and Scrum influence my daily work since 2012. I have nine years of experience in developing scalable
        web applications using cutting edge technologies based on Micro-Service Oriented Architecture including HTML/CSS
        and object-oriented JavaScript (frontend and backend).</p>
      <p>I love architecting systems in a high-performance environment with a focus on frontend development. My passion in JavaScript
        and CSS is as strong as my belief in agile methodologies, especially Scrum.</p>
    </section>

    <section>
      <h2>Open Source &amp; Community Engagement</h2>

      <p>
        <strong>Core developer of HTML5 Boilerplate:</strong> Ongoing maintenance of
        <a href="//html5boilerplate.com/">HTML5 Boilerplate</a>, a solid front-end template to start projects with, as a member of the core team.</p>

      <p>
        <strong>Creation of INIT:</strong>
        <a href="//use-init.com/">INIT</a> is an extension to HTML5 Boilerpalte with more structure for SCSS files and JavaScript, built upon Grunt.js,
        Bower and Karma helping developers to start a project more quickly.</p>

      <p>
        <strong>Co-host of Working Draft:</strong> Strong influence on the German-speaking community while being member of the weekly
        web-development and web-news podcast
        <a href="//workingdraft.de/">Working Draft</a>.</p>

      <p>
        <strong>Blog about Web-Technology:</strong> Researching and sharing latest technologies and learnings in
        <a href="//drublic.de/blog/">a dedicated blog</a> as well as maintaining a shared blog with friends and colleagues.</p>

      <h2>Speaking</h2>
      <p>I am very happy to be invited to any conference in our scene and beyond.</p>

      <ul>
        <li>
          <a href="http://2015.modxpo.eu/">MODXpo</a> 2015; Munich, Germany &mdash; Workflow: Frontend Tooling – "Tool with it!"</li>
        <li>
          <a href="//socoded.com/">SoCoded</a> 2013; Hamburg, Germany &mdash;
          <a href="//drublic.github.io/socoded-init">Starting Front-End Projects</a> –
          <a href="//www.youtube.com/watch?v=a9IlYbgZbPk">Video</a>
        </li>
        <li>
          <a href="//2013.frontendconf.ch/">Frontend Conference</a> 2013; Zürich, Switzerland &mdash;
          <a href="//drublic.github.io/fec-styleguides/">Be Friends With You Designer And Style Guides – Updated</a> &bull;
          <a href="//www.ustream.tv/recorded/37954517">Video</a>
        </li>
        <li>
          <a href="//2013.beyondtellerrand.com/">Beyond Tellerrand</a> Side Stage 2013; Düsseldorf, Germany &mdash;
          <a href="//drublic.github.io/component-based-development/">Component Based Development</a>
        </li>
        <li>
          <a href="//2013.front-trends.com/">Front-Trends</a> 2013; Warsaw, Poland &mdash;
          <a href="//drublic.github.io/ft-styleguides">Be Friends With You Designer And Style Guides</a> &bull;
          <a href="//vimeo.com/68680321">Video</a>
        </li>
        <li>
          <a href="//uxmunich.com/">UX Munich</a> 2013; Munich, Germany &mdash;
          <a href="//slides.drublic.de/uxm-styleguides/">Be Friends With You Designer And Style Guides</a> &bull;
          <a href="//vimeo.com/65822198">Video</a>
        </li>
        <li>
          <a href="//takeoffconf.com/">TakeOff Conference</a> 2013; Lille, France &mdash;
          <a href="//slides.drublic.de/takeoff-awesome-code/">Writing Awesome Code – Extended Version</a> &bull;
          <a href="//www.youtube.com/watch?v=Rg_AW_FPWsY">Video</a>
        </li>
        <!-- <li><a href="//fronteers.nl/congres/2012">Fronteers</a> 2012 Jam Session; Amsterdam, Netherlands &mdash; <a href="//slides.drublic.de/awesome-code/">Writing Awesome Code</a> &bull; <a href="//vimeo.com/51856235">Vimeo</a></li> -->
      </ul>

      <p>… and more.</p>
    </section>
  </div>

  <div class="section--fullsize section--ratio" style="background-image: url(<?php print base_url(); ?>img/speaking.jpg);">
  </div>

  <div class="main container">
    <section>
      <h2>Writings</h2>
      <p>I wrote some articles on the interwebz and offline. Here is a list. Hopefully more to come.</p>
      <ul>
        <li>
          <a href="http://workspiration.org/hans-christian-reinl">Interview: Work inspiration with Hans Christian Reinl</a> (Mar 5, 2015)</li>
        <li>
          <a href="https://medium.com/@drublic/css-naming-conventions-less-rules-more-fun-12af220e949b">CSS Naming Conventions: Less Rules, more Fun</a> on Medium.com (Jun 19, 2014)</li>
        <li>
          <a href="https://medium.com/programming-ideas-tutorial-and-experience/f98103d09ce1">A counter statement: Putting the CSS in the head</a> on Medium.com (Feb 3, 2014)</li>
        <li>
          <a href="https://www.webcoursesbangkok.com/blog/an-interview-with-hans-christian-reinl-web-developer-javascript-hacker-and-front-end-nerd/">
            Interview: Web developer, JavaScript hacker and front-end nerd
          </a> (Apr 21 2013)
        </li>
        <li>
          <a href="https://thenittygritty.co/shared-grunt-configuration">Shared Grunt Configuration</a> for The Nitty Gritty</li>
        <li>
          <a href="https://thenittygritty.co/reducing-boilerplate-code-front-end-init">Reducing Boilerplate Code in Front-End Projects</a> for The Nitty Gritty</li>
        <li>
          <a href="https://thenittygritty.co/decouple-css">Decoupling CSS from HTML with reusable modules</a> for The Nitty Gritty</li>
        <li>[de]
          <a href="//screengui.de/">SCREENGUIDE</a> – issue 15 – Neues für Webseitendrucker -
          <a href="//drublic.de/blog/printing-the-web/">Extended Version in English</a>
        </li>
        <li>[de]
          <a href="//screengui.de/">SCREENGUIDE</a> – issue 14 – Boilerplates – So starten Sie Ihre Projekte schneller und effizienter</li>
        <li>.net Magazine – issue 224 – .net HTML5 site of the month – Project: Haufe iDesk²</li>
        <li>[de]
          <a href="//maddesigns.de/box-sizing-1597.html">Box-Sizing – CSS3 Adventskalender</a> on maddesigns’ blog</li>
        <li>[de] Apple’s Navigation mit Flexbox – CSS3 Adventskalender in maddesigns’ blog</li>
      </ul>
      <p>Please
        <a href="<?php print base_url(); ?>#contact">send me a mail</a> if you want me to write for you.</p>

      <h2>Other</h2>

      <ul>
        <li>Nomination as Young Developer Of The Year /
          <a href="//www.thenetawards.com/">.net-Awards 2013.</a>
        </li>
        <li>Certified Scrum Master</li>
        <li>Co-Organizer of
          <a href="//www.nightlybuild.io/">NightlyBuild.io</a> - a Web-developer conference in Cologne.</li>
        <li>Former Co-Organizer of
          <a href="//devsmeetup.de/">DevsMeetup</a> in Freiburg, Germany - a monthly Developer Usergroup.</li>
      </ul>

    </section>

    <section>
      <h2>Work</h2>

      <p>In the past I worked on projects for clients such as
        <a href="http://www.vaillant-group.com/">Vaillant Group Business Services</a>,
        <a href="//dgu-online.de/">Deutsche Gesellschaft für Unfallchirurgie</a>, publisher
        <a href="//www.haufe-lexware.com/">Haufe-Lexware</a>,
        <a href="//app-meister.com/">AppMeister</a>,
        <a href="//www.guj.de/">Gruner + Jahr</a> and others.</p>

      <h3>Freelance Frontend Developer and Architect</h3>

      <p>April 2013 – present</p>


      <ul>
        <li>Consulting for middle and large-scale web projects in the frontend section</li>
        <li>Analyses and improvement of new and existing software architectures</li>
        <li>Workshops for agencies to coach their developers and designers</li>
        <li>Working on client projects using, configuring and developing frontend for FirstSpirit, TYPO3 CMS, Magento and Hybris</li>
        <li>Scrum Master and project manager</li>
      </ul>

      <h3>Other</h3>

      <p>April 2010 – April 2013: Lead Frontend developer at /gebrüderheitz, Freiburg
        <br> November 2011 – April 2014: Software developer and Co-Founder at colored.by</p>
    </section>
  </div>

  <div class="section--fullsize section--ratio" style="background-image: url(<?php print base_url(); ?>img/working.jpg);">
    <p class="section__caption text--small">&copy;
      <a href="https://twitter.com/stn1978">Stefan Nitzsche</a>
    </p>
  </div>

  <div class="main container">

    <section>
      <h2>Core Skills</h2>

      <p>As a Frontend developer I worked on a lot of things over the years. Here are some skills I consider myself good at.</p>

      <ul>
        <li>Architecture
          <ul>
            <li>Coding conventions and guidelines: HTML &amp; CSS (BEM), JS (Idiomatic JS)</li>
            <li>Component based development</li>
            <li>Micro-Service Oriented Architecture</li>
            <li>Working with and optimizing for performance budgets</li>
            <li>Git: Git Flow, GitHub Flow</li>
            <li>Automation: Continuous Integration, build tools, regression & end-to-end testing</li>
          </ul>
        </li>
        <li>Development
          <ul>
            <li>JS: ES6, React.js, jQuery, Vanilla</li>
            <li>HTML and CSS (which includes "HTML5" and "CSS3", also LESS and SASS)</li>
            <li>Node.js</li>
            <li>Responsive { webdesign | development | images | UX }</li>
            <li>Accessibility and "SEO" (whatever that means)</li>
          </ul>
        </li>
        <li>Working agile
          <ul>
            <li>Setup and development of Scrum teams</li>
            <li>Coaching for teams and change management</li>
            <li>Strong communication skills</li>
            <li>Experience with Scrum at Scale</li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</main>