
Redirect permanent /blog/tag/css3/                      http://archive.drublic.com/blog/tag/css3/
Redirect permanent /blog/about/                         http://archive.drublic.com/blog/about/
Redirect permanent /blog/tag/design/                    http://archive.drublic.com/blog/tag/design/
Redirect permanent /blog/2011/12/                       http://archive.drublic.com/blog/2011/12/
Redirect permanent /piwik/                              https://drublic.de/
Redirect permanent /blog/tag/download/                  http://archive.drublic.com/blog/tag/download/
Redirect permanent /blog/tag/fallback/                  http://archive.drublic.com/blog/tag/fallback/
Redirect permanent /blog/page/3/                        http://archive.drublic.com/blog/page/3/
Redirect permanent /blog/tag/collaboration/             http://archive.drublic.com/blog/tag/collaboration/
Redirect permanent /piwik/index.php?module=Login&action=lostPassword https://drublic.de/
Redirect permanent /blog/tag/rotatey/                   http://archive.drublic.com/blog/tag/rotatey/
Redirect permanent /blog/tag/reeder-for-mac/            http://archive.drublic.com/blog/tag/reeder-for-mac/
Redirect permanent /blog/tag/freelance/                 http://archive.drublic.com/blog/tag/freelance/
Redirect permanent /blog/tag/html5-boilerpate/          http://archive.drublic.com/blog/tag/html5-boilerpate/
Redirect permanent /blog/tag/css/                       http://archive.drublic.com/blog/tag/css/
Redirect permanent /blog/tag/preprocessors/             http://archive.drublic.com/blog/tag/preprocessors/
Redirect permanent /source-access/blog/kategorie/kundenservice https://drublic.de/
Redirect permanent /blog/tag/3d/                        http://archive.drublic.com/blog/tag/3d/
Redirect permanent /blog/tag/hyphenate-after/           http://archive.drublic.com/blog/tag/hyphenate-after/
Redirect permanent /blog/tag/performance-2/             http://archive.drublic.com/blog/tag/performance-2/
Redirect permanent /blog/tag/cherry-picking/            http://archive.drublic.com/blog/tag/cherry-picking/
Redirect permanent /blog/tag/initial/                   http://archive.drublic.com/blog/tag/initial/
Redirect permanent /source-access/blog/css3-abgerundete-ecken-fuer-boxen https://drublic.de/
Redirect permanent /blog/tag/progressive-enhancement/   http://archive.drublic.com/blog/tag/progressive-enhancement/
Redirect permanent /blog/tag/dabblet/                   http://archive.drublic.com/blog/tag/dabblet/
Redirect permanent /blog/tag/grunt/                     http://archive.drublic.com/blog/tag/grunt/
Redirect permanent /blog/tag/reference/                 http://archive.drublic.com/blog/tag/reference/
Redirect permanent /source-access/blog?page=3           https://drublic.de/
Redirect permanent /source-access/ajax/facebook.php     https://drublic.de/
Redirect permanent /source-access/ajax/index.php?id=06  https://drublic.de/
Redirect permanent /blog/tag/favicon/                   http://archive.drublic.com/blog/tag/favicon/
Redirect permanent /blog/tag/yeoman/                    http://archive.drublic.com/blog/tag/yeoman/
Redirect permanent /blog/page/4/                        http://archive.drublic.com/blog/page/4/
Redirect permanent /blog/tag/dash/                      http://archive.drublic.com/blog/tag/dash/
Redirect permanent /blog/tag/time/                      http://archive.drublic.com/blog/tag/time/
Redirect permanent /blog/tag/mobile-first/              http://archive.drublic.com/blog/tag/mobile-first/
Redirect permanent /blog/tag/websocket-api/             http://archive.drublic.com/blog/tag/websocket-api/
Redirect permanent /blog/page/2/                        http://archive.drublic.com/blog/page/2/
Redirect permanent /blog/tag/backface-visibility/       http://archive.drublic.com/blog/tag/backface-visibility/
Redirect permanent /blog/tag/amd/                       http://archive.drublic.com/blog/tag/amd/
Redirect permanent /blog/tag/text-shadow/               http://archive.drublic.com/blog/tag/text-shadow/
Redirect permanent /blog/tag/translation/               http://archive.drublic.com/blog/tag/translation/
Redirect permanent /source-access/ajax/twitter.php      https://drublic.de/
Redirect permanent /blog/css3-abgerundete-ecken-fuer-boxen http://archive.drublic.com/blog/css3-abgerundete-ecken-fuer-boxen
Redirect permanent /blog/tag/version-control/           http://archive.drublic.com/blog/tag/version-control/
Redirect permanent /blog/tag/hyphenate-before/          http://archive.drublic.com/blog/tag/hyphenate-before/
Redirect permanent /blog/tag/web-apps/                  http://archive.drublic.com/blog/tag/web-apps/
Redirect permanent /blog/tag/php/                       http://archive.drublic.com/blog/tag/php/
Redirect permanent /blog/tag/dialog/                    http://archive.drublic.com/blog/tag/dialog/
Redirect permanent /blog/tag/perspective/               http://archive.drublic.com/blog/tag/perspective/
Redirect permanent /kompetenzen                         https://drublic.de/
Redirect permanent /source-access/blog/ich-hab-lust-auf-bloggen https://drublic.de/
Redirect permanent /blog/tag/css-performance/           http://archive.drublic.com/blog/tag/css-performance/
Redirect permanent /blog/tag/webkit/                    http://archive.drublic.com/blog/tag/webkit/
Redirect permanent /blog/tag/microsoft/                 http://archive.drublic.com/blog/tag/microsoft/
Redirect permanent /blog/tag/hyphenation/               http://archive.drublic.com/blog/tag/hyphenation/
Redirect permanent /source-access/kontakt               https://drublic.de/#contact
Redirect permanent /blog/tag/bandwidth/                 http://archive.drublic.com/blog/tag/bandwidth/
Redirect permanent /blog/tag/build-tool/                http://archive.drublic.com/blog/tag/build-tool/
Redirect permanent /posts/46-es6-modules-using-browserify-mocha/npm-builds https://drublic.de/blog/npm-builds
Redirect permanent /blog/tag/transitions/               http://archive.drublic.com/blog/tag/transitions/
Redirect permanent /blog/information-page/              http://archive.drublic.com/blog/information-page/
Redirect permanent /ajax/server-info.php                https://drublic.de
Redirect permanent /source-access/ajax/psd2xhtml.php    https://drublic.de
Redirect permanent /v2                                  https://drublic.de
Redirect permanent /source-access/blog/micro-onlineshops https://drublic.de
Redirect permanent /source-access/index.php?id=06       https://drublic.de
Redirect permanent /feed                                https://drublic.de
Redirect permanent /tests/ddpx/                         https://drublic.de
Redirect permanent /blog/tag/html5bp/                   http://archive.drublic.com/blog/tag/html5bp/
Redirect permanent /blog/tag/talks/                     http://archive.drublic.com/blog/tag/talks/
Redirect permanent /blog/tag/property/                  http://archive.drublic.com/blog/tag/property/
Redirect permanent /blog/tag/organize-code/             http://archive.drublic.com/blog/tag/organize-code/
Redirect permanent /posts./npm-builds                   https://drublic.de/blog/npm-builds
Redirect permanent /source-access/startseite            https://drublic.de/
Redirect permanent /blog/tag/the-nitty-gritty/          http://archive.drublic.com/blog/tag/the-nitty-gritty/
Redirect permanent /source-access/kompetenzen/index.php?id=06 https://drublic.de/
Redirect permanent /source-access/kompetenzen           https://drublic.de/
Redirect permanent /source-access/source-access         https://drublic.de/
Redirect permanent /source-access/referenzen            https://drublic.de/
Redirect permanent /source-access/impressum             https://drublic.de/#imprint
Redirect permanent /source-access/demo/border-radius/   https://drublic.de/
Redirect permanent /blog/tag/generated-content/         http://archive.drublic.com/blog/tag/generated-content/
Redirect permanent /source-access/kunden/source-access/index.php?id=06 https://drublic.de/
Redirect permanent /source-access/kunden/source-access/jquery-die-javascript-library/ https://drublic.de/
Redirect permanent /source-access/source-access?PHPSESSID=5697835a7521453985a0fc7a254c8517 https://drublic.de/
Redirect permanent /blog/tag/svg/                       http://archive.drublic.com/blog/tag/svg/
Redirect permanent /blog/tag/pseudo-classes/            http://archive.drublic.com/blog/tag/pseudo-classes/
Redirect permanent /source-access/a                     https://drublic.de/
Redirect permanent /tests/ie7-baseurl/                  https://drublic.de/
Redirect permanent /blog/tag/filters/?_escaped_fragment_= http://archive.drublic.com/blog/tag/filters/?_escaped_fragment_=
Redirect permanent /blog/tag/links/                     http://archive.drublic.com/blog/tag/links/
Redirect permanent /kompetenzen/webspace/info           https://drublic.de/
Redirect permanent /demo/multiply-canvas/               https://drublic.de/
Redirect permanent /blog/sitemap-pt-post-2012-10.xml    http://archive.drublic.com/blog/sitemap-pt-post-2012-10.xml
Redirect permanent /blog/page/5/                        http://archive.drublic.com/blog/page/5/
Redirect permanent /source-access/index.php?id=02       https://drublic.de/
Redirect permanent /source-access/                      https://drublic.de/
Redirect permanent /blog/tag/project/                   http://archive.drublic.com/blog/tag/project/
Redirect permanent /blog/tag/android/                   http://archive.drublic.com/blog/tag/android/
Redirect permanent /blog/wp-content/uploads/2011/10/Wosindmeinerundenecken.pdf http://archive.drublic.com/blog/wp-content/uploads/2011/10/Wosindmeinerundenecken.pdf
Redirect permanent /blog/tag/hyphen/                    http://archive.drublic.com/blog/tag/hyphen/
Redirect permanent /source-access/blog/jquery-die-javascript-library https://drublic.de/
Redirect permanent /blog/tag/hyphenate-source/          http://archive.drublic.com/blog/tag/hyphenate-source/
Redirect permanent /blog/tag/work-together/             http://archive.drublic.com/blog/tag/work-together/
Redirect permanent /source-access/kunden/source-access/small-cms-sitecake/ https://drublic.de/
Redirect permanent /blog/frontend-chec%E2%80%A6         http://archive.drublic.com/blog/frontend-chec%E2%80%A6
Redirect permanent /posts/49-solving-npm-scripts-problems/https:/drublic.de/blog/npm-builds/ https://drublic.de/blog/npm-builds/
Redirect permanent /demo/css-hierarchies-module/        https://drublic.de/
Redirect permanent /source-access/ajax/server-info.php  https://drublic.de/
Redirect permanent /source-access/kunden/source-access/html5-das-audio-tag/ https://drublic.de/
Redirect permanent /blog/sitemap-pt-post-2012-12.xml    http://archive.drublic.com/blog/sitemap-pt-post-2012-12.xml
Redirect permanent /source-access/kunden/source-access/optimierung-meiner-webseite/ https://drublic.de/
Redirect permanent /source-access/blog/kategorie/       https://drublic.de/
Redirect permanent /source-access/blog/dati-mage-1-5-fur-cms https://drublic.de/
Redirect permanent /source-access/v2/?q=buddies         https://drublic.de/
Redirect permanent /source-access/kunden/source-access/?id=03 https://drublic.de/
Redirect permanent /source-access/kunden/wordpress/wp-login.php?action=lostpassword https://drublic.de/
Redirect permanent /source-access/referenzen?PHPSESSID=5697835a7521453985a0fc7a254c8517 https://drublic.de/
Redirect permanent /source-access/impressum?PHPSESSID=5697835a7521453985a0fc7a254c8517 https://drublic.de/
Redirect permanent /source-access/startseite?PHPSESSID=5697835a7521453985a0fc7a254c8517 https://drublic.de/
Redirect permanent /source-access/demo/border-radius/?PHPSESSID=3a91d173b50ed0e0e1b361a7422c627b https://drublic.de/
Redirect permanent /source-access/blog/wysiwyg-editor-im-cms https://drublic.de/
Redirect permanent /source-access/blog?PHPSESSID=5697835a7521453985a0fc7a254c8517 https://drublic.de/
Redirect permanent /source-access/blog/ajax.php           https://drublic.de/
Redirect permanent /cdn-cgi/l/email-protection            https://drublic.de/


RedirectMatch permanent /archive/.* http://archive.drublic.com/

