/**
 * Header
 */
.header {
	@include x-rem(padding, 2);

	color: #fff;
	text-align: center;

	background: $color;
	background-image: -webkit-linear-gradient(50deg, darken($color, 5), #d08aff);
	background: linear-gradient(50deg, darken($color, 5), #d08aff);

	h1 {
		margin: 0.3em 0;
		font-weight: normal;
	}

	p {
		font-size: 1.2em;
	}
}

// Navigation
.header__navigation {
	@include x-rem(max-width, 45);

	margin: 2em auto;
	line-height: 2;

	ul {
		@include x-rem(padding, 2 2 1);

		margin: 0;
		text-align: center;
	}

	li {
		display: inline-block;
		vertical-align: top;

		&.is-active {
			a {
				background-color: #fff;
				color: $color;
			}
		}
	}

	a {
		border-radius: 2px;
		border: 1px solid #fff;
		color: #fff;
		display: inline-block;
		margin-left: 7px;
		padding: 0.5em 1.5em;
		text-decoration: none;

		&:visited {
			color: #fff;
		}

		&:hover {
			background-color: #fff;
			color: $color;
		}

		&.visuallyhidden {
			padding: 0;
		}
	}


	.heade__navigation__target,
	.heade__navigation__toggle {
		display: none;
	}

}

// Under ~560px
@media screen and (max-width: 38em) {
	.header__navigation {
		> ul {
			display: none;

			position: absolute;
			top: 3.2em;
			right: 0;

			min-width: 60%;
			max-width: 100%;

			margin: 0;
			padding: 0;
			background: #111;
			border-radius: 2px;
			box-shadow: 0 0 30px rgba(0,0,0,.3);
		}

		li {
			display: block;

			> a {
				display: block;
				margin-left: 0;
				background: none;
			}
		}

		> .heade__navigation__toggle {
			display: block;

			position: absolute;
			top: 7px;
			right: 0;

			width: 32px;
			height: 32px;

			border-radius: 0 0 0 2px;
			background: $color url(../img/navigation.svg) no-repeat 50% 50%;
			padding: 4px 4px 4px 5px;
			text-indent: -200px;
			overflow: hidden;
		}
	}

	.heade__navigation__target {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;

		&:target {
			display: block;

			~ ul {
				display: block;
			}
		}
	}
}
