/**
 * Header
 */
.header {
	@include x-rem(padding, 2);

	color: #fff;
	text-align: center;

	background: $color;
	background: -webkit-linear-gradient($color, lighten($color, 20));
	background: linear-gradient($color, lighten($color, 20));

	h1 {
		margin: 0.3em 0;
		font-weight: normal;
	}

	p {
		font-size: 1.2em;
	}
}

// Navigation
.header__navigation {
	@include x-rem(max-width, 50);

	margin: 2em auto;
	line-height: 2;

	ul {
		@include x-rem(padding, 2 1 1);

		margin: 0;
		text-align: center;
	}

	li {
		display: inline-block;
		vertical-align: top;

		&.is-active {
			a {
				background-color: #fff;
				color: $color;
			}
		}
	}

	a {
		border-radius: 2px;
		border: 1px solid #fff;
		color: #fff;
		display: inline-block;
		margin-left: 7px;
		padding: 0.5em 1.5em;
		text-decoration: none;

		&:visited {
			color: #fff;
		}

		&:hover {
			background-color: #fff;
			color: $color;
		}

		&.visuallyhidden {
			padding: 0;
		}
	}

	.header__navigation__target,
	.header__navigation__toggle {
		display: none;
	}

	.header__navigation__toggle {
		position: absolute;

		width: 2em;
		height: 2em;

		border-width: 0;
		background: url(../img/navigation.svg) no-repeat 50% 50%;
		padding: 0.25em;
		margin: 0;
		text-indent: -200px;
		overflow: hidden;

		&:hover {
			background-color: transparent;
			color: #fff;
		}
	}
}

@media screen and (max-width: 50em) {
	.header h1 {
		margin-top: 0;
		padding-top: 1em;
	}

	.header__navigation {
		position: absolute;
		top: -2em;
		left: -2em;
		right: -2em;
		margin: 0;

		ul {
			display: none;

			position: absolute;
			top: 2.5em;
			left: 0;

			min-width: 60%;
			max-width: 100%;

			padding: 0.5em 0;
			background: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
		}

		li {
			display: block;

			&.is-active a {
				color: $color;
			}
		}

		a {
			display: block;
			margin-left: 0;
			border: 0;
			border-radius: 0;

			&,
			&:visited {
				color: #888;
			}
		}

		.header__navigation__toggle {
			display: block;
		}
	}

	.header__navigation__target:target ~ ul {
		display: block;
	}
}
