.site-header {
	border-top: 7px solid $color;
}

// Navigation
.site-navigation {
	@include x-rem(max-width, 40);

	margin: 0 auto;
	line-height: 2;

	ul {
		@include x-rem(padding, 2 2 1);

		margin: 0;
		text-align: center;
	}

	li {
		display: inline-block;
		vertical-align: top;

		&.is-active {
			a {
				background-color: $color;
				color: #fff;
			}
		}
	}

	a {
		@extend %tag;

		padding: 10px 20px;
		margin-left: 7px;

		&:hover {
			background-color: $color;
			color: #fff;
		}

		&.visuallyhidden {
			padding: 0;
		}
	}


	.site-logo {
		padding: 0;
		text-align: center;

		a {
			background: $color;
			width: 2em;
			height: 2em;
			padding: 10px;

			background: url(../logo.svg);
			background-size: contain;

			text-indent: -100px;
			overflow: hidden;

			.no-svg & {
				background-image: url(../img/logo.png);
			}
		}

		img {
			@extend .hidden;
		}
	}


	.navigation-target,
	.navigation-toggle {
		display: none;
	}

}

// Under ~560px
@media screen and (max-width: 38em) {
	.site-navigation {
		> ul {
			display: none;

			position: absolute;
			top: 3.2em;
			right: 0;

			min-width: 60%;
			max-width: 100%;

			margin: 0;
			padding: 0;
			background: #111;
			border-radius: 2px;
			box-shadow: 0 0 30px rgba(0,0,0,.3);
		}

		li {
			display: block;

			> a {
				display: block;
				margin-left: 0;
				background: none;
			}
		}

		.site-logo a {
			width: auto;
			background-repeat: no-repeat;
			background-color: $color;
			background-position: center center;
			text-indent: -999px;
			border-radius: 2px;
		}

		> .navigation-toggle {
			display: block;

			position: absolute;
			top: 7px;
			right: 0;

			width: 32px;
			height: 32px;

			border-radius: 0 0 0 2px;
			background: $color url(../img/navigation.svg) no-repeat 50% 50%;
			padding: 4px 4px 4px 5px;
			text-indent: -200px;
			overflow: hidden;
		}
	}

	.navigation-target {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;

		&:target {
			display: block;

			~ ul {
				display: block;
			}
		}
	}
}
