%tag {
  display: inline-block;
  padding: 0.5em 1.5em;
  line-height: 2;
  text-decoration: none;
  border: 1px solid #111;
  background: none;
  color: #111;

  border-radius: 2px;

  &:visited {
    color: #111;
  }

  &:hover {
    background-color: #111;
    color: $color;
  }
}
