/**
 * Work
 */

.work {
  margin: 0 -1%;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  h2 {
    margin-left: 1%;
    margin-right: 1%;
  }
}

.work__more {
  clear: both;
  padding-top: 2em;
  text-align: center;
}

.work--project {
  @include x-box-sizing;

  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  width: 31.333%;
  margin: 1%;
  border: 1px solid #ddd;
  text-align: center;
  color: $copy-color;
  border-radius: 2px;

  &:after {
    content: '';
    float: left;
    padding-top: 56.25%;
  }

  img {
    position: absolute;
    left: 0;

    width: 100%;
    border-radius: 2px;
  }

  figcaption {
    @include x-box-sizing;

    text-align: left;

    background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background:    -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background:     -ms-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background:         radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:before,
    &:after {
      pointer-events: none;
    }
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h3,
  p {
    position: absolute;
    right: 0;
    left: 0;
  }

  p {
    bottom: 0;
    padding: 20px;

    background: #fff;
    background: rgba(255, 255, 255, 0.9);

    line-height: 1.5;
    color: $copy-color;

    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }

  h3 {
    display: inline;
    top: 20px;
    left: auto;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    text-align: right;
    text-transform: uppercase;
    word-spacing: -0.15em;
    line-height: 1;
    font-weight: 300;

    background: #fff;
    background: rgba(255, 255, 255, 0.9);

    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.9);

    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;

    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);

    span {
      font-weight: 800;
    }
  }

  h3:after,
  p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }

  &:hover {
    h3 {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    p {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }
}

.work--light {
  color: #fff;

  h3 {
    background: #111;
    background: rgba(30, 30, 30, 0.9);

    box-shadow: 0 0 0 10px rgba(30, 30, 30, 0.9);
  }

  p {
    background: $copy-color;
    background: rgba($copy-color, 0.9);

    color: #fff;
  }
}

@media screen and (max-width: 32em) {
  .work--project {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
