/**
 * Typography
 */
html {
  font: 16px/1.5 Helvetica Neue, sans-serif;
  color: var(--copy-color);
}

/* Headlines */
h1, h2, h3 {
  font-weight: normal;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;

  border-bottom: 1px solid var(--border-color);
  margin: 1em 0 0.5em;
}

h1 + h2 {
  margin-top: 0;
}

h2 a, h3 a {
  text-decoration: none;
}

h3 {
  font-size: 1.2rem;

  margin: 1em 0 .5em;
}

h4 {
  font-size: 1rem;
}

h1 + h4 {
  margin-top: 0;
}

/* Links */
a {
  color: inherit;
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--color);
  text-decoration: none;
}

/* Paragraph */
p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

h2 + p {
  margin-top: 0;
}

/* Lists */
ul {
  padding-left: 1.1em;
}

/* Under 480px */
@media screen and (max-width: 32em) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
