:root {
  --color: #316EAE;
  --color-dark: color( var(--color) blackness(+10%) );
  --color-light: color( var(--color) saturation(-30%) lightness(+30%) );
  --border-color: color( var(--color) lightness(+50%) );
  --color--background--light: #f5f5f5;
  --color--background--dark: color( var(--color--background--light) blackness(+10%) );

  --highlight: var(--color);

  --copy-color: #222;
  --copy-color-light: #444;
  --copy-light: #bbb;

  --width: 45rem;
}
