:root {
  --color: rgb(59, 89, 106);
  --color-dark: color( var(--color) blackness(+10%) );
  --border-color: color( var(--color) lightness(+50%) );

  --highlight: #FFEE00;

  --copy-color: #222;
  --copy-light: #bbb;
}
