%tag {
	display: inline-block;
	padding: 0 0.8em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-decoration: none;
	background: #000;
	color: #fff;

	border-radius: 2px;

	&:visited {
		color: #fff;
	}

	&:hover {
		background-color: $color;
	}
}
