// Under ~560px
@media screen and (max-width: 38em) {
	.site-claim {
		padding-top: 3rem;
	}

	.desc {
		margin-top: 2rem;
	}

	.main {
		padding-top: 3rem;
	}

	.work-project {
		width: 100%;
		padding: 10px;

		> img {
			float: left;
			max-width: 45%;
			margin-right: 1em
		}

		> figcaption {
			padding: 0;
		}
	}
}

// Under 480px
@media screen and (max-width: 32em) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	.site-claim .desc p {
		font-size: 1em;
	}
}

// Under 360px
@media screen and (max-width: 24em) {
	.main {
		padding: 0 1em 1em;
	}

	.work-project img {
		margin-left: -0.5em;
	}
}
