/**
 * Typography
 */
html {
  font: 16px "Roboto", sans-serif;
  font-weight: 300;
  color: var(--copy-color);
}

body {
  line-height: 1.5;
}

/* Headlines */
h1,
h2,
h3,
.typography--h1,
.typography--h2,
.typography--h3 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.1;
}

h1,
.typography--h1 {
  font-size: 4rem;
}

h2,
.typography--h2 {
  font-size: 3rem;
  margin: 1em 0 0.5em;
}

h1 + h2 {
  margin-top: 0;
}

h2 a,
h3 a,
.typography--h2 a,
.typography--h3 a {
  text-decoration: none;
}

h3,
.typography--h3 {
  font-size: 1.4rem;
  margin: 1em 0 0.5em;
}

h4 {
  font-size: 1.125rem;
  font-weight: normal;
}

h2 + h4 {
  margin-top: 0;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--secondary-color);
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  text-decoration: none;
}

h1 a,
h2 a {
  border-bottom-color: transparent;
}

/* Paragraph */
p {
  margin: 0;
}

p + p,
.image + p {
  margin-top: 1.5em;
}

h2 + p {
  margin-top: 0;
}

b,
strong {
  font-weight: 700;
}

/* Lists */
ul,
ol {
  padding-left: 1.1em;
}

li {
  line-height: 1.5;
  padding-bottom: 0.125rem;
}

/* Under 480px */
@media screen and (max-width: 32em) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

/**
 * Code
 */
pre {
  padding-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 0.25rem solid var(--border-color);
}

code {
  background: var(--border-color);
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
}

pre code {
  background: none;
  padding: 0;
}

.typography--diff {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 0.25rem solid var(--border-color);
  font-family: monospace;
}

.typography--diff-delete {
  background-color: #ffeef0;
  padding-left: 1.5rem;
}

.typography--diff-delete::before {
  content: "- ";
}

.typography--diff-add {
  background-color: #e6ffed;
  padding-left: 1.5rem;
}

.typography--diff-add::before {
  content: "+ ";
}

.typography--diff code {
  background: none;
  padding: 0;
}

/**
 * More config
 */
.typography--light {
  color: var(--color-light);
}

/**
 * Quotes
 */
figure {
  margin: 0;
}

blockquote {
  position: relative;
  padding-left: 3rem;
  margin: 4rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
}

figure + blockquote {
  font-size: 1.75rem;
  font-family: "Vollkorn", serif;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.25rem;
  background-color: var(--color-light);
  opacity: 0.5;
  transition: opacity 0.2s;
}

blockquote:hover::before {
  opacity: 1;
}

blockquote + figcaption {
  margin-left: 2rem;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

blockquote + figcaption::before {
  content: "— ";
  font-size: 1.5rem;
  position: relative;
  bottom: -0.25rem;
  margin-right: 1rem;
}
