:root {
  --text-color: #111;
  --text-color-light: #666;

  --bg-color: #f6f6f6;

  --color: #445963;
  --color-dark: #29434e;
  --color-light: #617680;
  --color-lightest: #e8e7ec;
  --border-color: #ecf2f7;
  --border-color-dark: var(--color-light);
  --border-color-light: #c4dcef;
  --color--background--light: #f3f2ff;
  --color--background--dark: #e8e7ec;
  --secondary-color: #6236ff;
  --secondary-color--light: #efebff;
  --secondary-color--hover: #f474ff;

  --footer-background: var(--color--background--dark);
  --footer-background-dark: var(--color--background--dark);

  --navigation-background: #607d8b;

  --highlight: var(--color);

  --copy-color: #222;
  --copy-color-light: #444;
  --copy-light: #aaa;

  --width: 50rem;

  --border-radius: 0.5rem;
}
