:root {
  --text-color: #111;

  --color: #546e7a;
  --color-dark: #29434e;
  --color-light: #819ca9;
  --border-color: #dce3ea;
  --color--background--light: #f3f2ff;
  --color--background--dark: #eee;
  --secondary-color: #6236ff;
  --secondary-color--hover: #f474ff;

  --navigation-background: #607d8b;

  --highlight: var(--color);

  --copy-color: #222;
  --copy-color-light: #444;
  --copy-light: #aaa;

  --width: 50rem;
}
