:root {
   --text-color: #111;

  --color: #546e7a;
  --color-dark: #29434e;
  --color-light: #819ca9;
  --border-color: #dce3ea;
  --color--background--light: #e2f1f8;
  --color--background--dark: #eee;
  --secondary-color: #ffc400;
  --secondary-color--hover: #c79400;

  --navigation-background: #607D8B;

  --highlight: var(--color);

  --copy-color: #222;
  --copy-color-light: #444;
  --copy-light: #aaa;

  --width: 45rem;
}
